[2018-04-02 02:04] Honglei-Cong opened #15 "replace all "printf err.Error()" with "printf err""
example:
--- a/net/message/blockHdr.go
+++ b/net/message/blockHdr.go
@@ -268,12 +268,12 @@ func GetHeadersFromHash(startHash common.Uint256, stopHash common.Uint256) ([]ty
        for i = 1; i <= count; i++ {
                hash, err := actor.GetBlockHashByHeight(stopHeight + i)
                if err != nil {
-                       log.Errorf("GetBlockHashByHeight failed with err=%s, hash=%x,he

[2018-04-02 09:25] jxzsxsp opened #22 "[ERROR] GID 1, Incorrectly book keepers key panic: division by zero"
[root@yueyue ontology]# ./ontology
2018/04/02 17:22:36.895985 [TRACE] GID 1, main() main.go:76 Node version:  8728
2018/04/02 17:22:36.896051 [WARN ] GID 1, Config error:  unknown signature scheme , use SHA256withECDSA as default
2018/04/02 17:22:36.896080 [INFO ] GID 1, 0. Open the account
Password:
2018/04/02 17:23:04.817205 [INFO ] GID 1, 1. Loading the Ledger
2018/04/02 17:23:04.837925 [INFO ]

[2018-04-02 10:05] laizy commented on #22
the Bookkeepers may not correctly set in the config.json file.

[2018-04-03 03:55] panther142 commented on #22
See my closed PR #20 and the fix #23 to resolve this

[2018-04-04 02:03] laizy commented on #33
thanks for report, please use `./nodectl wallet -l -b` for the moment. A more full-featured cli is under development.

[2018-04-07 08:34] arrangilligan opened #38 "[ERROR] Error looking for math/bits: Cannot detect VCS"
after running glide install!?

![screenshot from 2018-04-07 10-32-52](https://user-images.githubusercontent.com/11330026/38453012-1a96d2ea-3a4f-11e8-9b6c-4ed49c71bdca.png)

[2018-04-07 08:48] laizy commented on #38
upgrade go version to 1.10

[2018-04-17 05:44] voodoo12345 opened #25 "WASM support"
Support WASM Smart Contract and Container

[2018-04-17 05:45] voodoo12345 opened #26 "Smart contract support across VM"

[2018-04-17 05:45] voodoo12345 opened #27 "VBFT consensus support"
Ontorand Consensus Engine

[2018-04-17 05:46] voodoo12345 opened #28 "Transaction parallel verification support"

[2018-04-17 05:46] voodoo12345 opened #29 "Network optimization"

[2018-04-17 05:46] voodoo12345 opened #30 "Pluggable DB Support"

[2018-04-17 05:47] voodoo12345 opened #31 "CLI command set and virtual terminal"

[2018-04-17 05:47] voodoo12345 opened #32 "Authority management"

[2018-04-17 06:04] voodoo12345 opened #33 "Side-chain and cross-chain POC"

[2018-04-17 10:43] Arbio5zt commented on #26
Completed with pull [#0585775](https://github.com/ontio/ontology/commit/900ed3684e593f782b70f46f16483be24d73ea3a) ,pull [#2ce2a07](https://github.com/ontio/ontology/commit/058577589b436d61a36c8e55dab42108490f3718)

[2018-04-17 10:43] #26 closed, assigned to nobody

[2018-04-24 02:00] wangping0105 opened #56 "代码活络起来呀"
怎么提交这么不频繁，本体加油啊

[2018-04-24 04:46] Ruining-Wu commented on #56
30买的很气

[2018-04-24 07:20] Arbio5zt commented on #56
Thanks a lot for interesting in Ontology,  This is just a code library, you can join our discord ,telegram official chat room. We are also very welcome community contributors to participate in the development of ontology. Thanks for your message.

[2018-04-24 07:20] #56 closed, assigned to nobody

[2018-04-24 11:16] laizy opened #61 "saving wallet file should be atomic"
tracking issue of pr #57

[2018-04-24 12:42] wangping0105 commented on #56
@Ruining-Wu 是啊，这几天都飞了，就本体不动

[2018-04-26 01:43] Honglei-Cong commented on #27
VBFT pull request submitted

[2018-04-26 10:58] laizy commented on #61
fixed in #63

[2018-04-26 10:58] #61 closed, assigned to nobody

[2018-04-27 02:37] lpffzx opened #83 "Found an error in ontrpcapi.md"
Found an error in docs/specifications/ontrpcapi.md, the api name and instructions don't match, as follows:

#### 6. getgenerateblocktime

Get a list of unconfirmed transactions in memory.

#### Example

Request:

[code]

Reponse:

[code]

These are the undetermined transactions received by the node, that is, those with zero confirmed transactions.

[2018-04-27 02:40] voodoo12345 commented on #27
VBFT consensus supported

[2018-04-27 02:40] #27 closed, assigned to nobody

[2018-04-28 03:30] lucas7788 commented on #83
@lpffzx ffe6560c32e08dd9729ff41f8982183947e047f0   已解决

[2018-05-03 13:33] #83 closed, assigned to nobody

[2018-05-04 06:53] voodoo12345 commented on #25
Support WASM Smart Contract for C/C++/Rust with compiler

[2018-05-04 06:53] #25 closed, assigned to nobody

[2018-05-07 14:34] voodoo12345 commented on #29
Network optimization and support multi-channel

[2018-05-07 14:34] #29 closed, assigned to nobody

[2018-05-10 11:04] voodoo12345 commented on #31
Add new CLI tools include rich functions

[2018-05-10 11:04] #31 closed, assigned to nobody

[2018-05-15 19:37] voodoo12345 commented on #32
full function auth contract had added

[2018-05-15 19:37] #32 closed, assigned to nobody

[2018-05-16 10:25] voodoo12345 commented on #30
Rocksdb support for Ontology and Pluggable DB protocol provided

[2018-05-16 10:25] #30 closed, assigned to nobody

[2018-05-19 09:39] jxzsxsp opened #186 "common/password/password.go import github.com/howeyc/gopass,but glide import github.com/dnaproject/gopass"
[root@VM_143_245_centos ontology]# make
go build -ldflags "-X github.com/ontio/ontology/common/config.Version=v0.8" -o ontology main.go
common/password/password.go:26:2: cannot find package "github.com/howeyc/gopass" in any of:
/data/gopath/src/github.com/ontio/ontology/vendor/github.com/howeyc/gopass (vendor tree)
/usr/local/go/src/github.com/howeyc/gopass (from $GOROOT)
/data/gopath/src/github.c

[2018-05-19 10:09] Arbio5zt commented on #186
thanks for reporting, there seems something lost in glide.yaml, I will have a look on this.

[2018-05-20 02:03] Arbio5zt commented on #186
fixed by [commit 5d022a0f65b987af54e0496b169222ffe479eb8a](https://github.com/ontio/ontology/commit/5d022a0f65b987af54e0496b169222ffe479eb8a)

[2018-05-20 02:03] #186 closed, assigned to luodanwg

[2018-05-20 08:57] kenneth opened #188 "why some package can't fetch?"
[code]

[2018-05-20 12:01] GalaxySciTech opened #189 "求助，我按照教程使用./ontology --nodeport=20338 --rpcport=201336 报以下错误"
2018/05/20 20:00:16.773104 [INFO ] GID 1, Wait for minimum connection...
2018/05/20 20:00:19.622144 [ERROR] GID 1021, connect failed:  dial tcp 127.0.0.1:20318: connect: connection refused

[2018-05-21 10:33] Arbio5zt commented on #189
fixed by [commit 3324736] (https://github.com/ontio/ontology/commit/3324736e54c4a62c579be254ac85239801b13f0d) could you helps to check it agian, thanks.

[2018-05-23 14:01] GalaxySciTech commented on #189
可以了，thanks

[2018-05-24 09:48] #189 closed, assigned to nobody

[2018-05-24 09:54] gasby88 commented on #188
Download from  https://github.com/golang/crypto.git

[2018-05-24 09:58] Arbio5zt commented on #188
I think this is caused by network, we have test it on different network seems ok. if this issue continued please reopen it ,thanks.

[2018-05-24 09:58] #188 closed, assigned to nobody

[2018-05-24 10:22] jxzsxsp opened #220 "用0.8版多机部署后没有生成ONT资产"
[root@VM_143_245_centos multi-node1]# ./ontology asset balance 1
BalanceOf:TA86DZm9hVoqYmedZMVamWLvSCXQF942S6
ONT:0
ONG:0
ONGApprove:0

[2018-05-24 11:10] panther142 opened #221 "RPC implmentation does not include getblocktxsbyheight"
The method getblocktxsbyheight which is available via REST or Websocket is not available via RPC.

See below response:

{
    "error": {
        "code": -32601,
        "data": "The called method was not found on the server",
        "message": "Method not found"
    },
    "id": 1,
    "result": null
}

[2018-05-28 03:59] kenneth opened #230 "what is wrong"
[code]

[2018-05-28 07:00] AlverLyu commented on #230
Please update ontology-crypto.

[2018-05-28 07:48] kenneth commented on #230
钱包文件怎么生成？
No wallet.dat detected, please create a wallet by using command line.

[2018-05-28 07:54] kenneth commented on #230
我找到了
[code]

[2018-05-28 07:57] kenneth commented on #230
跑不起来什么原因？

[code]

[2018-05-28 08:00] Arbio5zt commented on #220
By public test chain, you need to apply for test ont tokens.
By private ontology blockchain, only bookkeeper node will be given the ONT tokens, so you need to add your node's public key into the config.json file.

[2018-05-28 08:00] #220 closed, assigned to nobody

[2018-05-28 08:05] Arbio5zt commented on #230
1. tool nodectl has been removed.  and the ontology program can run as a CLI, you can test ontology --help and get feather informations.
2. the reason of " Incorrectly book keepers key" seems  you filled the wrong public key in config.json

[2018-05-28 08:18] xizho10 commented on #221
not support all interface in RPC now， we will support them soon.

[2018-05-28 09:05] panther142 commented on #230
If you are looking for a pre-configured multinode ontology privatenet, we created a docker container. See link.

https://github.com/OntologyCommunityDevelopers/ontology-privatenet-docker

[2018-05-28 11:15] jxzsxsp commented on #220
config.json中添加了公钥

[root@VM_143_245_centos multi-node1]# cat config.json
{
  "SeedList": [
    "127.0.0.1:20348",
    "127.0.0.1:20358",
    "127.0.0.1:20368",
    "127.0.0.1:20378"
  ],
  "ConsensusType":"dbft",
  "DBFT":{
    "Bookkeepers": [
      "1202029ad0f87ad84b84b085b610475f5c4e409a7744c3732042a0498adf0a251dfde9",
      "1202031afd1e43360c0034e371697b5bf2aff49983e134ee9c7a914050fa6bf1c08f

[2018-05-29 08:32] Phoenix117 opened #239 "Incorrectly book keepers key"
I have five nodes.Four of them have no problem,but only one has the problem "Incorrectly book keepers key" when I started all nodes.
And I found the public key is different from the other four nodes.

`root@bc154:/opt/go/src/github.com/ontio/ontology# ./ontology account add -d
Use default setting '-t ecdsa -b 256 -s SHA256withECDSA'
	signature algorithm: ecdsa
	curve: P-256
	signature scheme: SHA2

[2018-05-29 08:32] Phoenix117 commented on #239
Does anyone know why?Thanks.

[2018-05-31 04:17] #221 closed, assigned to xizho10

[2018-06-03 08:15] kenneth commented on #230
是不是需要啥配置文件？

[code]

[2018-06-03 21:50] panther142 commented on #239
I don't know why it is happening (hopefully the core team can advise) but the public key should start with 1202. If you add 1202 at the start of that public key does it work without error?

[2018-06-04 01:39] Phoenix117 commented on #239
@panther142 No, it didn't work. The error is 'deserialize public key error. keyBuf:[3 105 159 113 19 217 58 54 177 38 104 184 31 15 3 184 5 215 49 85 10 19 237 163 98 175 175 51 34 13 171 81 188]: deserializing public key failed: unrecognized algorithm label'
It seems like we can't change the publickey.

[2018-06-04 04:16] reachosen opened #257 "Issue with download"
When i try to download ontology.exe from https://github.com/ontio/ontology/releases
v0.82 for windows, it throws up an error.

"Forbidden" or "Failed - Forbidden"
This error means you don't have permission to download this file from the server.
To fix, go to the website where the file is hosted. Check if you need to sign in (or provide some other authentication).

[2018-06-04 08:31] panther142 commented on #239
That is odd. Can you delete the wallet for that node and create a new one to see if the same thing happens?

Is that node running the same version as the other nodes? Using ontology --version will tell you.

[2018-06-05 09:27] Phoenix117 commented on #239
@panther142 I'm sad.
`./ontology --version
ontology version 0.8.0`
The same version with the other nodes.
I have tried delete wallet , delete project and rebuild it, and all of them didn't work.   0.0

[2018-06-05 11:44] panther142 commented on #239
What is in the config.json file for the node that doesn't work?

[2018-06-05 13:13] Arbio5zt commented on #257
Thanks for your message, we now hosting the files on the github, we may provide the aws cloudfront download link which have CDN in later time.

[2018-06-05 13:13] #257 closed, assigned to nobody

[2018-06-05 13:15] Arbio5zt commented on #230
there seems you have not clear the chain lib first.

[2018-06-05 13:24] Arbio5zt commented on #239
There seems all nodes you have are the same public key,  basicly you need to have the different keys deployed on the different node as the network id is marked by the public key, after that you need to have your config.json prepared for the local bookkeepers.

[2018-06-05 22:33] kenneth commented on #230
[code]

[2018-06-06 01:59] kenneth commented on #230
git 是不是有点问题，拉代码总是冲突。
[code]

[2018-06-06 08:55] Arbio5zt commented on #230
could your paste the panic details and i can helps to check it ,thanks.

[2018-06-07 08:46] kenneth commented on #230
[code]

[2018-06-10 06:03] Arbio5zt commented on #230
the reason seems you have no default account in your wallet and caused panic,
we will add a default account exist check to avoid this panic, thanks for reporting 👍 .
you now can simply recreate your wallet file or check weather have ["isDefault":true] set in your wallet file.
I will attach the default wallet exist check patch to here later.

[2018-06-10 07:06] zhongqiuwood opened #291 "Failed to start up ontology with '--testmode'"
[code]

[2018-06-10 07:16] zhongqiuwood opened #292 "Running ontology reports error 127.0.0.1:20318: connect: connection refused"
[code]

[2018-06-10 07:34] Arbio5zt commented on #292
there seems you want to run on the private chain mode?

[2018-06-10 07:43] Arbio5zt commented on #291
Before chain restart, there need to clear the old chain data first, i.e. manually delete the Chain lib,
ps: We have planed to add automatic clear feature in the later version.

[2018-06-12 12:31] voodoo12345 commented on #28
Enhancement include by v0.9 release

[2018-06-12 12:31] #28 closed, assigned to nobody

[2018-06-12 14:46] Arbio5zt commented on #291
will improved by #306 .

[2018-06-17 00:41] daxiao opened #360 "Running ontology get error: read connection error EOF"
[code]

[2018-06-19 07:55] bitcodernull opened #366 "which different between neo and ontology on create transaction and sign transaction"
May i use the neo local js libs to process ontology transaction?

[2018-06-20 06:37] jonatanblockchain opened #377 "Typo NetworkMaigc on config.go file"
https://github.com/ontio/ontology/blob/fcee25788642b645f772585bf9c1ac105ce4aff8/common/config/config.go#L422

https://github.com/ontio/ontology/blob/fcee25788642b645f772585bf9c1ac105ce4aff8/common/config/config.go#L494

[2018-06-24 08:22] voodoo12345 commented on #291
fixed by #306

[2018-06-24 08:22] #291 closed, assigned to nobody

[2018-06-25 09:53] fl0wjacky opened #417 "Which elliptic curve can be used for NEO address to sign and verify?"
is secp256r1 still working here?

[2018-06-26 02:07] northfoxz opened #418 "Is there any public testnet available?"
Hi,
I've tried to launch the project but the default seed address of the network seems not to be working.
When will the testnet be available(or do I config the server in the wrong way?)
thanks!

[2018-06-28 02:41] #239 closed, assigned to nobody

[2018-06-30 09:05] Arbio5zt commented on #418
yes you can use the ./ontology --networkid=2 the connect to polaris(testnet name). other cli function's specifications you can find in docs/specifications.

[2018-06-30 09:07] Arbio5zt commented on #417
yes. ONT support neo crypto secp256r1,so neo WIF and address can also be use in ONT.

[2018-06-30 09:14] Arbio5zt commented on #377
thanks, fixed by #489.

[2018-06-30 09:16] Arbio5zt commented on #366
nope, ONT and NEO are different transaction/block structure and different design, so you need to use ONT JS SDK  on ontology.

[2018-06-30 09:19] Arbio5zt commented on #360
yeap, this is a normal log, sorry to get your some confusing, and we will optimize the log output logic.

[2018-06-30 09:20] #377 closed, assigned to nobody

[2018-06-30 09:29] Arbio5zt commented on #230
we have fixed in #299

[2018-07-01 01:07] #417 closed, assigned to nobody

[2018-07-01 09:44] karenwang38 opened #497 "does node deployment only work on "Single-host deployment configuration" (v1.0)"
Hi,
I've tried to node deployment on Public test network Polaris "./ontology --networkid 2", but it didn't work as following (read connection error  EOF) :

2018/07/01 17:13:58.787404 [INFO ] GID 172, peer 192.168.1.117:54856 connect with 52.221.232.201:20338 with tcp
2018/07/01 17:13:58.844318 [INFO ] GID 214, OnAddNode:10772187615756702585
2018/07/01 17:13:58.845722 [INFO ] GID 214, OnAddNode:16

[2018-07-02 12:07] jxzsxsp opened #505 "我在本地testmode下发布智能合约，提示发布成功了，但是能命令行下查提示没有这个交易"
发布合约代码：
OntSdk ontSdk = Base.getOntSdk();
            String code = "58c56b6a00527ac46a51527ac46a00c30548656c6c6f9c6416006a51c300c36a52527ac46a52c3650b006c756661006c756655c56b6a00527ac46a00c3680f4e656f2e52756e74696d652e4c6f6761516c7566";

            Account account = new Account(Helper.hexToBytes("7eeb1f37ce6802f0d459905306efcc0b0f520537110d7a08918659c9da12cbce"), SignatureScheme.SHA256WITHECDSA)

[2018-07-03 07:47] panther142 opened #506 "--networkid does not have an option for a privatenet"
There is no networkid for a privatenet and setting it to anything higher than 3 defaults back to mainnet.

[2018-07-03 09:30] prettyCoders opened #507 "get ONT"
where can get ONT(mainnet)

[2018-07-03 09:31] prettyCoders commented on #505
where can get ONT(mainnet)

[2018-07-03 09:35] prettyCoders commented on #507
or testnet!

[2018-07-03 09:46] Arbio5zt commented on #507
ONT/ONG on testnet you can apply  by discord.
main net we will publish token swap later  or you can swap token by exchanges.

[2018-07-03 09:46] #507 closed, assigned to nobody

[2018-07-03 09:52] prettyCoders commented on #507
where can apply testnet ONT

[2018-07-03 10:01] gasby88 commented on #506
If you want to startup a private net, you should specify a network id an the config file of private net. For   example ./ontology --networkid=12 --config=config.json . If you don't specify the config file, Ontology will use the main net config by default.  After you do those, Ontology still connect to the main net, just delete the file "peers.recent" at the same  dir with ontology.

[2018-07-03 10:05] Arbio5zt commented on #497
by logs, there seems ok, as the blocks are continue.   this error logs is about connection, when bad network it will appear connection errors and will automatic recover when network is reachable.

[2018-07-03 10:06] #497 closed, assigned to nobody

[2018-07-03 10:06] Arbio5zt commented on #230
closed for no response.

[2018-07-03 10:07] #230 closed, assigned to nobody

[2018-07-03 10:09] xizho10 commented on #505
It is gaslimit and gasprice value not correct.

Check deploy your smartcontract need how much gaslimit first:

OntSdk ontSdk= OntSdk.getInstance();
ontSdk.setRpc(rpcUrl);
ontSdk.setDefaultConnect(wm.getRpc()); //use RPC for prepare execution
Object result = ontSdk.getConnect().sendRawTransactionPreExec(txHex);
System.out.println(result);
//result:  {"State":1,"Gas":20020000}

than Fill the gaslimi

[2018-07-03 10:15] xizho10 commented on #505
mainnet:  http://dappnode1.ont.io
or start local node, connect to seed node:  ./ontology --networkid 1 --rest

[2018-07-03 10:58] jxzsxsp commented on #505
修改gasLimit后可以了

[2018-07-03 11:00] #505 closed, assigned to nobody

[2018-07-03 11:04] jxzsxsp opened #508 "在testmode下转账后不会生成ONG吗？"

[2018-07-04 07:30] xizho10 commented on #508
Shoud be generate ong, clear Chain dir before start testmode, make sure your transfer is successful.

[2018-07-04 10:11] prettyCoders opened #513 "parse transaction from block"
Use java-sdk,I want parse transaction from block,get sender address、recipient address、amount、transaction hash.But not found!help me please!thanks.
Code：
Block block = ontSdk.getConnect().getBlock(9);
Transaction[] transactions=block.transactions;
System.out.println("block:"+block.json());
System.out.println("tx:"+transactions[0].json().toString());
Result:
{Nonce=1298299449, Payer=ASm7Uf6zae6JZ8Wq

[2018-07-04 10:43] jxzsxsp commented on #508
[root@736c4412a328 ontology]# ./ontology asset balance 1
BalanceOf:AVFAYhQqPFAoieDfHhqen4Ss7Q3fJM8SyP
  ONT:999981000
  ONG:0
[root@736c4412a328 ontology]# ./ontology asset balance 2
BalanceOf:AbZQBGn4zVFfPjvVZcXn9wzcw8Q6G9FTLF
  ONT:9000
  ONG:0
[root@736c4412a328 ontology]# ./ontology asset balance ASqVhSZW8CsyTHKb5jw2TbT1tKzFMQA4FX
BalanceOf:ASqVhSZW8CsyTHKb5jw2TbT1tKzFMQA4FX
  ONT:10000
  ONG:

[2018-07-04 10:55] Arbio5zt commented on #508
you need to use unboundong to get the ONGs

[2018-07-04 12:35] panther142 commented on #506
Thanks - close

[2018-07-04 12:35] #506 closed, assigned to nobody

[2018-07-04 23:54] #360 closed, assigned to nobody

[2018-07-05 02:28] jxzsxsp commented on #508
how to use unboundong

[2018-07-05 03:30] Arbio5zt commented on #508
you can reference this [doc](https://github.com/ontio/ontology/blob/master/docs/specifications/cli_user_guide_CN.md#36-%E6%9F%A5%E7%9C%8B%E6%9C%AA%E8%A7%A3%E7%BB%91%E7%9A%84ong%E4%BD%99%E9%A2%9D)

[2018-07-05 05:09] Arbio5zt commented on #513
there seems you need to query at [ontology-java-sdk](https://github.com/ontio/ontology-java-sdk)

[2018-07-05 05:12] #366 closed, assigned to nobody

[2018-07-05 06:25] prettyCoders commented on #513
May be need deserialization,But i don`t know how to do it

[2018-07-05 09:27] jxzsxsp commented on #508
好的，谢谢！

[2018-07-05 09:35] #508 closed, assigned to nobody

[2018-07-09 09:39] shadowcz007 opened #527 "docker error"
docker: Error response from daemon: OCI runtime create failed: container_linux.go:296: starting container process caused "process_linux.go:398: container init caused \"mkdir /go/src/github.com: permission denied\"": unknown.
make: *** [docker/build/bin/ontology] Error 126

[2018-07-14 03:20] voodoo12345 opened #542 "DHT Kademlia/Chord"
New P2P network model

[2018-07-14 03:21] voodoo12345 opened #543 "Parallel ledger writing"
Parallel ledger writing optimization

[2018-07-14 03:22] voodoo12345 opened #544 "Threshold signatures support"
Threshold signatures with MPC, secure private key recovery mechanism (using MPC)

[2018-07-17 01:03] infinitystoneseng opened #549 "Mainnet Block Not Sync after Height 9024"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
ontology version v1.0.1, master branch, latest SHA f3231afadaa6ba2d2b0ee3b68069685da7c88fbe

#### Does this issue reproduce with the latest release?
The issues is caused by c705b7004533c3ce45de5b555883a9a4d05f01cf

#### What operating system are you using (such a

[2018-07-19 08:55] Arbio5zt commented on #549
Thanks for asking, as the consensus node have not update to v1.0.1 when you do syncing,  you can try it again now, as we have finished the upgrading.

[2018-07-20 10:58] qiluge commented on #527
Could you show me the `ll docker/build/bin/` command result ?

[2018-07-23 17:18] ivoras opened #558 "Cannot build Ontology on RPI"
It's probably not a target platform, but worth mentioning: Ontology currently cannot be built on Raspberry Pi (and probably any other non-amd64 architecture):

[code]

For what its worth, it seems like the problem is with P256 curves, which are also implemented in https://golang.org/pkg/crypto/elliptic/ , which is cross-platform.

[2018-07-26 08:15] sbinet opened #567 "wagon/wasm: use upstream"
hi,

I noticed you've directly copied a bunch of [go-interpreter/wagon](https://github.com/go-interpreter/wagon) inside `ontology`:
- https://godoc.org/github.com/ontio/ontology/vm/wasmvm/wasm

I was wondering why you did that instead of just importing `wagon/wasm` (or vendoring it) ?
was there some shortcoming from `wagon/wasm` that you had to fix?

basically: what should I do on the `wagon/wasm`

[2018-07-26 09:06] JasonZhouPW commented on #567
hi ，thank you for being interested in our project , wagon project is an excellent wasm project in golang, but  for a block chain system we need to interactive with low level apis and storages , and we need to support some more complex structs with in memories, it's not easy to just vendoring as a library. we have remained all your licenses  files and comments in source codes. If you have any conce

[2018-07-26 09:45] Arbio5zt commented on #549
any updates i can help you?

[2018-07-26 09:46] Arbio5zt commented on #527
any updates i can help you?

[2018-07-26 09:48] Arbio5zt commented on #418
any updates i can help you?

[2018-07-26 09:48] Arbio5zt commented on #292
any updates i can help you?

[2018-07-26 09:56] sbinet commented on #567
no license concerns, really :)

I was just wondering what `wagon` could do to make it more useful as is (w/o local modifications.)
we've got already a few PRs from another blockchain related user (https://github.com/go-interpreter/wagon/pull/59, https://github.com/ethereum/go-ethereum/pull/16957), so we aren't against integrating some changes :)

[2018-07-26 10:13] xizho10 commented on #513
Don't need deserialization by yourself,  just get smartcontract event:  System.out.println(ontSdk.getConnect().getSmartCodeEvent("0795bbb043e81cd9cb9e95f215203379ccf967753fd9b1a281ec4b9200650a24"));

response:
{"GasConsumed":10000000,"Notify":[{"States":["transfer","AbT9aY8Ungm6FmbRXDdKyEBzKEm3U9HBfm","AdZFF1ottgfqNut5R64KZXsh3p6PMULfZD",1],"ContractAddress":"01000000000000000000000000000000000000

[2018-07-26 10:26] AlverLyu commented on #558
The SM2 implementation is assemble accelerated for amd64, but not compatible with other platform. Will fix this soon.

[2018-07-29 04:30] karenwang38 opened #571 "Cannot check account balance?"
ont2@ONT2:~/GoPath/src/github.com/ontio/ontology$ ./ontology account list
Index:1    Address:ARC4DTUtvX8u8ZySmSNet2UsonesUym3cS  Label: (default)
Index:2    Address:AHHDCGUgCiTZ3D8PbpTPiUj9a83TvbSfUn  Label:

ont2@ONT2:~/GoPath/src/github.com/ontio/ontology$ ./ontology asset balance 2
sendRpcRequest error:http post request:{"jsonrpc":"2.0","id":"cli","method":"getbalance","params":["AHHDCGUgCiTZ3D

[2018-07-29 05:03] zncrypto commented on #571
This might be because of port not accessible.

[2018-07-29 06:12] karenwang38 commented on #571
thanks!

[2018-07-29 06:12] #571 closed, assigned to nobody

[2018-07-30 07:04] karenwang38 opened #572 "[ERROR] GID 199, read connection error EOF (on Mainnet sync node deployment)"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
v1.0.1-15-gaeda

#### Does this issue reproduce with the latest release?
yes

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
Mainnet sync node deployment.

Log:
2018/07/30 06:52:08.987652 [INFO ] GID 60,

[2018-07-30 07:14] karenwang38 opened #573 "Can check ONT balance on Mainnet ?"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
v1.0.1-15-gaeda

#### Does this issue reproduce with the latest release?
yes

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
I created a wallet on iOS "ONTO" and deposited ont.
I  checked ont balance on m

[2018-07-31 10:00] Arbio5zt commented on #573
I see you address have ont and ong ,https://explorer.ont.io/address/AKSKgme9wEyUvkxJ7yePtVg6E8s6zxG7dG/10/1,
so if you have solve the problem?

[2018-07-31 10:07] Arbio5zt commented on #572
Sorry for confusing you about the error message,  as some nodes are LAN, such as the IP displayed is 10.0.0.1/192.168.1.1, so it is the reason of connection error. but it will not crash the node, we will change it to the low log level, thanks for your post.

[2018-07-31 10:12] #292 closed, assigned to nobody

[2018-07-31 10:12] #418 closed, assigned to nobody

[2018-07-31 10:12] #513 closed, assigned to nobody

[2018-07-31 10:13] #527 closed, assigned to nobody

[2018-07-31 10:13] #549 closed, assigned to nobody

[2018-07-31 12:55] karenwang38 commented on #572
thanks for your detailed explanation.

[2018-07-31 12:55] #572 closed, assigned to BooniesFX

[2018-07-31 12:58] karenwang38 commented on #573
yes, it can work.
thank you very much.

[2018-07-31 12:58] #573 closed, assigned to nobody

[2018-08-01 08:40] BooniesFX commented on #572
Most debug output will be changed to low level, and more detail info added in debug level for develop purpose.see https://github.com/ontio/ontology/pull/521

[2018-08-02 00:30] jinge1936 opened #577 "Cannot build docker image"
The source root does not have config.json file, so when we make docker image, the shell will throw errors.

I checked the histories, it seems the config.json files are removed right now. Would you please update the makefile accordingly？

[2018-08-02 05:29] jinge1936 commented on #577
Anyone who could look into this issue?

[2018-08-05 07:34] freewind opened #584 "`glide install` failed when installing from source"
[code]

run

[code]

produce error:

[code]

[2018-08-05 13:45] freewind commented on #584
Found the solution from <https://github.com/Masterminds/glide/issues/398#issuecomment-253741116>

[2018-08-05 14:23] #584 closed, assigned to nobody

[2018-08-05 14:30] Arbio5zt commented on #577
sorry for the late response, @qiluge is working on this issue.

[2018-08-05 14:42] freewind opened #585 "Could you specify the required go version in README?"
I run `make all` after cloning ontology source code, and it reports such error:

[code]

and I found the go version on my ubuntu server is:

[code]

looks a little old, but which is the latest version installed by `sudo apt-get install golang-go`.

Finally, I upgrade go to v1.10 (<https://github.com/golang/go/wiki/Ubuntu>), it works.

[code]
I think we could specify the required go version in READ

[2018-08-05 14:45] #585 closed, assigned to nobody

[2018-08-05 14:46] freewind commented on #585
I found it already in README, sorry

[2018-08-06 06:45] qiluge commented on #577
The problem has been resolved, please update to latest version, thx.

[2018-08-06 07:25] Arbio5zt commented on #577
could you please confirm it @jinge1936 ,thanks.

[2018-08-06 14:56] freewind opened #589 "[question] Why do we use params with such format: `--maxconninboundforsingleip`"
It's really hard to read: `--maxconninboundforsingleip`, why not `--max-conn-in-bound-for-single-ip`? Is there any reason for this?

[2018-08-07 07:43] Arbio5zt commented on #589
thanks for proposal. The meaning of cmd would be list on the description, so the cmd is design to easy to input. so have no uppercase or '-' in all the cmds. but this is a good question for why this cmd is so long. This could be optimization in the next version.

[2018-08-07 08:35] freewind commented on #589
Thanks for response. You're right, easily inputing may be a good reason for command line params, if the param is not so long.

I think it's we can use such rules:

- if the params contains only two words, use none-`-` type: e.g. `nodeport`, `consensusport`, `networdid`
- if more than 2, use `-`: `max-conn-in-bound-for-single-ip`

This is just my opinion, I'm sure you will find better solutions

[2018-08-07 12:00] junhuoku007 opened #591 "难以同步主网。error sending messge to peer node | sync link invalid | connect failed i/o timeout"
#### What version of ontology are you using (`ontology --version`)?
ontology-linux-amd64 of ontology version v1.0.1

#### What operating system are you using (such as macOS, Linux and Windows)?
Centos7 minimal
服务器是腾讯云（成都区域）

#### What did you do?

直接连接主网
./ontology --networkid 1

#### What did you expect to see?

能正常同步区块

#### What did you see instead?

不正常的同步区块
2018/08/07 19:54:45.708463 [ERROR]

[2018-08-07 12:22] junhuoku007 commented on #591
最后 被Killed
2018/08/07 20:08:40.039943 [INFO ] GID 50, Back off time`s up, start connect node
2018/08/07 20:08:41.377163 [ERROR] GID 3657, error sending messge to peer node  write tcp 10.139.157.225:34028->18.182.239.242:20338: i/o timeout
2018/08/07 20:08:41.377834 [ERROR] GID 103517, read connection error  read tcp 10.139.157.225:34028->18.182.239.242:20338: use of closed network connection
2018/

[2018-08-08 02:10] Arbio5zt commented on #591
Thanks, we have optimize the sync by #554  could please retest it by master branch.

[2018-08-08 11:39] lcgogo opened #594 "Can not startup with genesis config_vbft.json"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
root@ubuntu-xenial:/vagrant/ont-build# ./ontology --version
ontology version v1.0.1-23-g966d

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
root@ubuntu-xenial:/vagrant/ont

[2018-08-08 14:57] junhuoku007 commented on #591
Thanks! Please release newer executable program as soon.

[2018-08-08 14:57] #591 closed, assigned to nobody

[2018-08-08 15:30] KaiserKarel commented on #577
still getting
[code]
on master

[2018-08-09 02:02] qiluge commented on #577
1. clean older docker container and image;
![image](https://user-images.githubusercontent.com/19525062/43873822-e31c8e5e-9bba-11e8-8b91-9c32b502ede8.png)

2. update code to latest in the master branch;
![image](https://user-images.githubusercontent.com/19525062/43873845-022b3b10-9bbb-11e8-8556-03419dd2333d.png)

3. `make docker` in the root dir of ontology code;
![image](https://user-images.github

[2018-08-09 02:06] qiluge commented on #577
Please refer to these steps, @KaiserKarel .

[2018-08-09 02:10] qiluge commented on #594
'initPos' config should >= 10000 of each peer.

[2018-08-09 02:17] Arbio5zt commented on #589
thanks, we will consider about it.

[2018-08-09 02:18] #567 closed, assigned to nobody

[2018-08-09 02:21] lcgogo commented on #594
@qiluge Same printout
root@ubuntu-xenial:/vagrant/ont-build# ./ontology --config /vagrant/ont-build/config_vbft.json
2018/08/09 02:15:38.932789 [INFO ] GID 1, Load genesis config:/vagrant/ont-build/config_vbft.json
2018/08/09 02:15:38.933598 [ERROR] GID 1, initConfig error:setGenesis error:VBFT config error initConfig. MinInitStake must >= 10000!

I set all the initPos of each peer to 20000

root@

[2018-08-09 02:36] xiemylogos commented on #594
I think you should set MinInitStake in your config_vbft.json. reference flie ontology/common/config/config.go in 199 lines.

[2018-08-09 03:48] lcgogo commented on #594
@xiemylogos  Thanks but I think the MinInitStake should be     "min_init_stake": 100000,    in json.

However, I met another error as below:
root@ubuntu-xenial:/vagrant/ont-build# ./ontology --config /vagrant/ont-build/config_vbft.json
2018/08/09 03:44:04.727351 [INFO ] GID 1, Load genesis config:/vagrant/ont-build/config_vbft.json
2018/08/09 03:44:04.744963 [ERROR] GID 1, initConfig error:setGene

[2018-08-09 05:43] lcgogo commented on #594
I use another json from
https://github.com/ontio/ontology/blob/master/docs/specifications/config-vbft.json
and now the start up is ok.

[2018-08-09 05:43] #594 closed, assigned to nobody

[2018-08-09 07:15] Arbio5zt commented on #594
thanks for reporting, we have update the docs.

[2018-08-09 08:08] zouxyan opened #598 "在测试网Polaris上部署python版合约报错:%!(EXTRA errors.ontError=[NeoVmService] service system call error!: [SystemCall] service not support: Neo.Storage.GetContext)"
ontology version v1.0.1
centos7

- ####What did you do?
在smartx上编译了如下代码：
[code]

得到的字节码，在我的centos7上部署到polaris上，合约信息如下：
[code]
最终显示合约执行失败

- ####What did you expect to see?
返回某个整数 return some integer

- ####What did you see instead?
[code]

   **python版的合约调用会报错，C#是没问题的。smartx部署-运行也是会报错的，查询交易显示Failed**
请问该如何解决，非常感谢

[2018-08-11 07:27] kenneth opened #601 "没有ONG无法转账转，怎么弄？"

[2018-08-11 07:43] gasby88 commented on #601
If you don‘t have ONG to transfer，you need to buy ONG from exchange.  ONG was listed at https://www.coinmex.com/spot/ong_usdt

[2018-08-11 07:50] gasby88 commented on #601
Meanwhile, if you hold ONT, it will release ONG, but you need to make a transfer transaction to unbound the ONG.

[2018-08-11 08:35] kenneth commented on #601
@gasby88
我持有ONT,会自动分发ONG给我？还是一定要去交易所买ONG.我是交易所提过来的，还没有转过账。

[2018-08-11 08:42] gasby88 commented on #601
Yes, but you won't get the ONG, after make a transaction.  持有ONT会获得ONG，但是此时的ONG时锁定的，你需要做一遍转账交易去解绑ONG，做完转账交易后，再做一个提取交易就可以获得自动分发的ONG了。所以，再你没有ONG的情况下，你也提取不了自动分发的ONG，这点跟NEO时不一样的。所以，第一笔ONG你需要别人转给你，或者你自己去交易所买。

[2018-08-11 11:29] kenneth commented on #601
@gasby88 未绑定的ONG是什么意思，没有办法提取？

[2018-08-13 07:06] lcgogo opened #602 "ontology can not run in docker alpine image with "not found" error"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
1.0.1

#### Does this issue reproduce with the latest release?
Not tried

#### What operating system are you using (such as macOS, Linux and Windows)?
docker alpine 3.8

#### What did you do?

I use alpine3.8 as docker base image, and copy the binary ontology to

[2018-08-13 10:55] Arbio5zt commented on #598
@xris-hu could you pls help to check it, thanks.

[2018-08-14 02:37] consensyx commented on #598
@Zou-XueYan you need change the import package  like this
from boa.interop.System.Runtime import Log, Notify
from boa.interop.System.Storage import Get, Put, GetContext

i modify your source code，it can be deployed and invoked in smartx

##################################

from boa.interop.System.Runtime import Log, Notify
from boa.interop.System.Storage import Get, Put, GetContext

def Main():

[2018-08-14 02:43] #598 closed, assigned to consensyx

[2018-08-15 02:50] qiluge commented on #602
It seems like OS caused the problem. I used your docker file build the alpine38 image and run it, the I find the ontology in /bin:
![image](https://user-images.githubusercontent.com/19525062/44128898-093456f0-a078-11e8-9ed6-bba0626d151d.png)
Look at error info, `/bin/sh: ./ontology: not found`, alpine used `/bin/sh` to run ontology, so it is failed.
The I run the debian image, the ontology is run

[2018-08-15 03:01] Arbio5zt commented on #601
you can reference at [link](https://medium.com/ontologynetwork/everything-you-need-to-know-about-ong-582ed216b870).

[2018-08-15 03:38] lightshine001 commented on #602
Hi lcgogo，

You need the libc6-compat package for GNU libc compatibility. Please add the following line to Dockerfile.
     ` RUN apk add libc6-compat --no-cache`

After that,  ontology can work.
![image](https://user-images.githubusercontent.com/9333725/44130370-b99fb4a6-a07f-11e8-8d64-5428a0d95146.png)

Please be free to let me know if any progress.

[2018-08-15 06:54] lcgogo commented on #602
@qiluge I think I solve this issue.
Add one line in dockerfile
RUN mkdir /lib64 && ln -s /lib/libc.musl-x86_64.so.1 /lib64/ld-linux-x86-64.so.2

see more at https://stackoverflow.com/questions/34729748/installed-go-binary-not-found-in-path-on-alpine-linux-docker

[2018-08-16 04:55] kenneth commented on #601
@luodanwg  明白了，就是我要找的，3Q

[2018-08-20 07:18] voodoo12345 commented on #601
Issue had been solved

[2018-08-20 07:18] #601 closed, assigned to nobody

[2018-08-20 07:20] voodoo12345 commented on #602
Docker alpine 3.8 issued had been solved

[2018-08-20 07:20] #602 closed, assigned to lightshine001

[2018-08-29 06:51] Arbio5zt commented on #589
will improve by #612

[2018-08-30 09:34] laohanlinux opened #635 "共识中中的Empty???"
# 共识

共识代码里面有好几个`forEmpty`，具体有什么区别呢？

- 区块

[code]
`EmptyBlock`?

- CandidateInfo

[code]
`EndorsedProposal`?? , `EndorsedEmptyProposal`??

- CandidateEndorseSigInfo

[code]
`ForEmpty`??

这些`空`是和空区块有联系吗？

[2018-08-30 10:36] Honglei-Cong commented on #635
是的

[2018-08-30 10:41] Honglei-Cong commented on #635
VBFT的共识完整性设计，通过共识空的区块保证容错情况下算法的持续运行。

[2018-08-30 10:56] Honglei-Cong commented on #577
I tried 'make docker', looks good.

close the issue?

[2018-08-30 11:40] #577 closed, assigned to qiluge

[2018-08-30 12:20] laohanlinux commented on #635
[code]

这两个地方是如果知道它没办法再继续往下进行拉？

不是很明白，`ont`是怎样避免，在同一个`高度`，出现多个不同的proposalor或者is2Proposalor的提案？

还有一个设计的地方，为什么不采用tendermint这种`Round`轮次的方式去做呢，是有什么原因吗

[2018-09-01 09:02] #635 closed, assigned to nobody

[2018-09-03 05:10] zhjjj opened #637 "RPC api with claimable ong and unbound ong"
#### Is your feature request related to a problem? Please describe.
I'm working on some feature about claim ONG. But the RPC only support 'getunboundong' (shown as claimable ong on the explorer) and I can't get the 'Waitingbound ONG' on the explorer. From the explorer source code, I know it is calculated by some data.

#### Describe the solution you would like
Provide API to show the 'waitingbound

[2018-09-07 08:36] Arbio5zt commented on #637
good idea, i also think we need this feature. we will support in next version.

[2018-09-07 08:46] xizho10 commented on #637
only support in explorer server now.
[doc](https://github.com/ontio/documentation/blob/master/walletDevDocs/ontology_wallet_dev_ts_sdk_en.md#3-native-asset)

For testnet, api host is https://polarisexplorer.ont.io
For mainnet, dapi host is https://explorer.ont.io

[code]

[2018-09-11 03:01] Arbio5zt commented on #589
released in v1.0.3

[2018-09-11 03:01] #589 closed, assigned to nobody

[2018-09-11 03:38] AlverLyu commented on #558
This problem has been fixed in version 1.0.2.

[2018-09-12 03:45] zhjjj commented on #637
@xizho10 能否在普通节点上使用类似于‘getunboundong’的rpc接口返回这个信息呢？
How about use RPC api to support this feature? like 'getunboundong'

[2018-09-13 08:12] #558 closed, assigned to AlverLyu

[2018-09-14 07:40] Arbio5zt commented on #637
may release in next version #646

[2018-09-17 12:55] maiganne opened #654 "doubt"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?

v1.0.3-rc2
#### Does this issue reproduce with the latest release?

yes
#### What operating system are you using (such as macOS, Linux and Windows)?
windows

#### What did you do?

If possible, provide a recipe for reproducing the error. A complete runnable prog

[2018-09-18 02:24] zhjjj commented on #637
@luodanwg thanks!

[2018-09-18 02:24] #637 closed, assigned to xizho10

[2018-09-26 03:25] shelmesky opened #663 "can not invoke smart contract code, program runs failed!!!"
I hava compile smart contract to AVM file by the compiler: [https://github.com/ontio/neo-go-compiler](https://github.com/ontio/neo-go-compiler)，then run the ontology program to invoke smart contract:

`./ontology contract invokeCode --code ./mycontract.avm`

The result is

`hex to bytes error:encoding/hex: invalid byte: U+005E '^'`

[2018-10-04 11:39] silvesterdrago opened #667 "JSON-RPC implementation doesn't match with protocol specification"
protocol specification: https://www.jsonrpc.org/specification
convenient success response
{
    "error": null,
    "id": "id",
    "jsonrpc": "2.0",
    "result": "v1.0.4"
}
your response
{
    "desc": "SUCCESS",
    "error": 0,
    "id": "id",
    "jsonrpc": "2.0",
    "result": "v1.0.4"
}
convenient error response:
{
    "error": {"code": 42002, "message": "INVALID PARAMS"},
    "id": "id",

[2018-10-05 12:07] voodoo12345 commented on #544
Secure private key recovery mechanism with Multi-sig and remove Threshold signatures support to the VBFT

[2018-10-05 12:07] #544 closed, assigned to nobody

[2018-10-05 12:10] voodoo12345 commented on #33
Finish the prototype of Sub-chain and multi-chain framework

[2018-10-05 12:10] #33 closed, assigned to nobody

[2018-10-05 12:12] voodoo12345 opened #668 "Chain Network POC"
Launch first sub-chain and interoperate with Main chain protocols

[2018-10-08 03:05] #543 closed, assigned to laizy

[2018-10-17 03:54] #542 closed, assigned to lightshine001

[2018-10-17 03:55] Arbio5zt commented on #542
close by done.

[2018-11-07 14:30] i3bitcoin opened #684 "Wallet api calls"
I'm wondering if there is any api calls (rpc or rest) available to work with wallet?
I see there are cli commands available, but what about api?

[2018-11-08 02:30] xizho10 commented on #684
try signature server https://github.com/ontio/ontology/blob/master/docs/specifications/sigsvr.md  ，release version  tool-*  in https://github.com/ontio/ontology/releases

[2018-11-08 10:00] i3bitcoin commented on #684
Okay, will check. Thanks!

[2018-11-08 16:55] i3bitcoin commented on #684
I've just checked and it works great! And is there a way to check the destination address(es) for each transaction in getblock or getrawtransaction calls, I only see Payer and Payload->Code.

Edit. Okay it seems I need to check each transaction with getsmartcodeevent.

Anyway thanks for your help @xizho10, you saved me a lot of time!

[2018-11-08 17:11] #684 closed, assigned to nobody

[2018-11-09 08:54] guoleijie opened #687 "build unit test error in consensus package"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
master stream

#### Does this issue reproduce with the latest release?
yes

#### What operating system are you using (such as macOS, Linux and Windows)?
macOS

#### What did you do?

If possible, provide a recipe for reproducing the error. A complete runnable pro

[2018-11-12 07:11] xiemylogos commented on #687
Thanks . I have fixed this problem in a future release. https://github.com/ontio/ontology/pull/688

[2018-11-13 05:31] #687 closed, assigned to nobody

[2018-11-13 16:56] backslash47 opened #690 "convertNeoVmTypeHexString does not support Map type"
Hello,
I am testing agains the TestNet and I am trying simple python smart contract containing:

```Notify(item)```

If the item is Map, the VM will return error:

```[NeoVmService] service system call error!: [SystemCall] service execute error!: [ConvertTypes] Invalid Types!```

I expected that the Notify will work also on Map type.

[2018-11-16 05:49] asfdg21 opened #691 "Ont balance is not same between command line and explorer"
Please answer these questions before submitting your issue. Thanks!

#### 1.5.1

#### Yes

#### Linux

#### What did you do?

When i query balance of `Ac8P8376ozoQ5H2Srcm32n5yb8kLoixRaP`  by command line, result is 383296 ; but in explorer, it's balance is 504296
This is the snapshot of my command line query :
[code]
This is the explorer page: https://explorer.ont.io/address/Ac8P8376ozoQ5H2Srcm32n

[2018-11-16 06:24] laizy commented on #691
make sure your local node has synchronized all the new blocks.

[2018-11-16 06:49] asfdg21 commented on #691
[code]

My node has synced

You may try this in your own node

[2018-11-16 07:23] siovanus commented on #691
![image](https://user-images.githubusercontent.com/16396984/48603788-98189b00-e9b2-11e8-9a36-02da3590fcdb.png)
My own node is al right, and when you update your node to 1.5.1? I wonder that you may update your own node late, we add some new function after 1.0.4, and at that time your local node is also 1.0.3, so the transaction of new function will failed and have influence on later blocks, for ex

[2018-11-16 07:25] siovanus commented on #691
So you can delete your Chain directory and sync with ontology 1.5.1 from the beginning.

[2018-11-16 07:59] tanZiWen commented on #690
yes, we don't support it now, because map is a complex struct, i think it is unnecessary to support. Do you have some good idea about it？

[2018-11-16 08:01] tanZiWen commented on #690
if you want to use it, you can convert it to byte array, then client can deserialize it  to map.

[2018-11-16 08:06] tanZiWen commented on #663
i think you need get source code from smartx, then you can put it on a txt document, you can deploy the source code first, then use appcall to invoke this contract. this have a example about how to call a smart contract: [appcall contract](https://github.com/ONT-Avocados/python-template/blob/master/Static_Call_Oep4/static_call_Oep4.py)

[2018-11-16 08:08] tanZiWen commented on #663
i think you can use <code> ./ontology contract invokeCode </code> command to deploy and invoke a smart contract, i help it can help you!

[2018-11-16 08:56] asfdg21 commented on #691
ok, i will try that

[2018-11-16 17:23] backslash47 commented on #690
I implemented the whole VM in typescript. I based it on the Go implementation. I think the Map support is nearly complete in whole Go VM except the convertNeoVmTypeHexString method. It should be easy to add it there.

[2018-11-19 03:16] asfdg21 commented on #691
The problem has been fixed after resync chain, this issue can be closed

[2018-11-19 03:16] #691 closed, assigned to nobody

[2018-11-20 04:05] bluesky139 opened #693 "Authentication failed when transfering ONT in smart contract"
#### What version of ontology are you using (`ontology --version`)?
v1.5.1

#### Does this issue reproduce with the latest release?
Yes.

#### What operating system are you using (such as macOS, Linux and Windows)?
Windows.

#### What did you do?
Open a local test ontology:
[code]

Created 2 accounts:

Compile code on SmartX, download ABI and AVM.
[code]

Deploy contract with command:
[code]

Invo

[2018-12-14 19:50] Drjacky commented on #188
@gasby88 I've added cloned library to `/usr/local/go/src/golang/x/HERE` and `/usr/local/go/src/HERE`, but the error still exist!

[2018-12-15 03:23] laizy commented on #188
use glide to install dependencies. @Drjacky

[2018-12-18 07:11] guotie opened #713 "compile failed"
..\..\github.com\ontio\ontology\sigsvr.go:111:6: main redeclared in this block
        previous declaration at ..\..\github.com\ontio\ontology\main.go:135:6

[2018-12-19 11:28] laizy commented on #713
`go build` will not work, you need use `go build -o ontology main.go `

[2018-12-20 03:03] guotie commented on #713
why not just remove sigsvr.go; or put it in another dir?

[2018-12-20 03:03] #713 closed, assigned to nobody

[2018-12-26 11:11] ryuyangu opened #723 "Is there a plan to support go module?"
Since go1.11,  golang  recommands go module instead of vendor. Will ontology & ontology-go-sdk do this support?

[2018-12-26 11:41] ryuyangu commented on #723
Questions is:
    I use  go1.11.2, and invoke ontology-go-sdk@1.0.6 in my project. Then `go build`  gets a go.mod like
[code]
 `github.com/ontio/ontology v1.5.2` is the latest release tag for ontology but not match what `github.com/ontio/ontology-go-sdk v1.0.6`  invoked.  Error is `../../../go/pkg/mod/github.com/ontio/ontology-go-sdk@v1.0.6/native_contract.go:70:21: undefined: "github.com/ontio/on

[2019-01-12 01:53] voodoo12345 commented on #668
MPT sub-chain launch on TestNet. SPV wallet is available on MPT sub-chain.

[2019-01-12 01:53] #668 closed, assigned to nobody

[2019-01-22 04:02] Honglei-Cong commented on #654
hello, which network are you using? main net? test net?

[2019-01-22 04:02] Honglei-Cong commented on #723
no plan yet.

[2019-01-22 04:02] #723 closed, assigned to nobody

[2019-01-22 04:06] Honglei-Cong opened #729 "logging release/version info when ontology starting"
It's a good practice to log software release version on starting.

=========
current logging when starting ontology:
<---- logging ontology version here firstly?
2019/01/21 14:39:36.852540 ^[[0;36m[INFO ]^[[m GID 1, Config init success
  2 2019/01/21 14:40:10.886470 ^[[0;36m[INFO ]^[[m GID 1, Using account:AYLfTV7M8Cnu2rZvdo3gQsZdpxBGaAqjxL
  3 2019/01/21 14:40:10.886514 ^[[0;36m[INFO ]^[[m GID 1,

[2019-01-24 03:12] Honglei-Cong opened #732 "set limitation of http connection"
It's better to add one command line option, to config limitation of http connection, to help resolving the max-fd issue.

[2019-01-25 01:57] Honglei-Cong commented on #732
fixed
https://github.com/ontio/ontology/pull/733

[2019-01-25 01:57] #732 closed, assigned to nobody

[2019-01-25 03:41] qiluge commented on #729
https://github.com/ontio/ontology/pull/735

[2019-01-25 03:47] #729 closed, assigned to nobody

[2019-01-28 02:07] Honglei-Cong opened #737 "block syncing consumed too much memory"
Setting up syncing-node with 8GB memory, syncing node panic OOM after a few hours

[2019-02-05 18:05] travek opened #742 "Block generation freezed @ block 2094299"
Hi!

As of now Explorer (explorer.ont.io) is showing that the network stuck at the block 2094299. No new blocks for more than 3 hours.

Please revert with the rootcase of the issue and the fix for the network please.

[2019-02-10 04:46] Honglei-Cong commented on #742
resolved by https://github.com/ontio/ontology/pull/743

cc from public notice:
On February 5th, 2019, the Ontology team started an urgent upgrade of the stake authorisation on the MainNet. Read more about this upgrade from here: https://link.medium.com/uvrJ1fErbU

[2019-02-10 04:46] #742 closed, assigned to nobody

[2019-02-10 07:20] Honglei-Cong opened #744 "System Recovery from 'system smart contract panic'"
#### Is your feature request related to a problem? Please describe.
Currently, any panic from system smart contract panic can make system/whole network failed.

#### Describe the solution you would like
System should not be impacted by behaviours of smart contract.
There should one container or safe-recovery for system smart contract, as for VM-based smart contract.

[2019-02-11 01:44] Honglei-Cong opened #745 "Set leveldb openfile cache capacity"
#### Is your feature request related to a problem? Please describe.
As blockchain data grows, leveldb creates more files.  Default openfile cache capacity and block cache capacity may not enough.

#### Describe the solution you would like
Set the following options when opening leveldb:
* OpenFilesCacheCapacity
* WriteBuffer
* BlockCacheCapacity

[2019-02-13 07:14] uranus97s opened #746 "In the latest release, there is no createaccount method."
#### How to create an account using rpc call
pls !

[2019-02-13 07:58] jonatanblockchain commented on #745
Just as reference,

I remember this pull-request that finally wasn't commit https://github.com/ontio/ontology/pull/49/commits/1234532cd0403d38d1c5d4bb35e2a17a70fb74d9

[2019-02-13 10:26] laizy commented on #745
@jonatanblockchain This commit tries to increment cache size to improve performance, which is the case for a simple leveldb test. but we have conducted an integration benchmark, which shows performance degradation and more memory consumption.

[2019-02-14 02:17] Honglei-Cong opened #747 "question about calculation of txRoot in constructBlock@msg_builder.go"
one question from community.

一、详细说明：
这有可能是我理解错了你们的共识算法，如果是的话请忽略。。。看到你们最新的这个commit

https://github.com/ontio/ontology/commit/9324805e33761d1d30dfb54276be21c4a2332f28

在msg_builder.go中的

constructBlock函数中有

blockRoot := ledger.DefLedger.GetBlockRootWithNewTxRoots(lastBlock.Block.Header.Height, []common.Uint256{lastBlock.Block.Header.TransactionsRoot, txRoot})

第一个参数是上一个区块的高度，第二个参数是上一个和这一个区块的merkle

[2019-02-14 02:40] Honglei-Cong commented on #746
AccountCreation is Private-Key/Public-Key/Address generation.
It should be created locally.

SDK provides NewAccount interface.

[2019-02-14 02:53] laizy commented on #747
1. 区块的落账分为ExecuteBlock和SubmitBlock两个步骤，因此共识出的区块落账通常会有一个区块的延迟：比如当前共识正准备打包H+1的区块，但是账本层还没有完整落完H区块，currBlockHeight为H-1，如果只把H+1区块的merkle root作为参数，则因为账本层还没有H区块的merkle root，导致计算出错。所以至少需要提供currBlockHeight+1至H+1高度之间的所有区块merkle根。
2. 账本存储区块时可以从两个入口获取区块：一个是共识模块，一个是从其他节点通过网络同步，两者是并发执行的。所以如果某一个节点的共识模块滞后了或者同步速度较快。共识节点在尝试出H+1区块时，账本层可能已经通过同步的方式落账了区块H，甚至H+1，H+2等区块。因此调用的参数增加了一个startHeight参数，用于指定参数中第一个merkle root所在的高

[2019-02-14 03:46] uranus97s commented on #746
@Honglei-Cong  I am very grateful to you.
I used the tool of the ontology but when using createaccount method, my account was received at mainnet network. I'm working with testmode network, so the address is not valid. Is there any way for me createaccount method and the result returned is the account at testmode network.
Help me pls!

[2019-02-14 10:33] qiushui777 commented on #747
Thanks。是我先前对共识滞后情况理解有误。

[2019-02-14 10:56] #747 closed, assigned to nobody

[2019-02-14 15:37] Honglei-Cong commented on #746
Account address in mainnet network cal also be used in testmode network.
Your address can be valid on any network as long as it had received transferred token.

If you started testmode network with './ontology --testmode', all tokens are in your default ontology account (usually as ./wallet.dat).   You can create new account with SDK.NewAccount interface, and transfer some ONT from your default wa

[2019-02-16 10:01] bitcodernull opened #749 "my node have no notify data of some transactions"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?

1.5.3

#### Does this issue reproduce with the latest release?
yes

#### What operating system are you using (such as macOS, Linux and Windows)?

linux

#### What did you do?

If possible, provide a recipe for reproducing the error. A complete runnable program i

[2019-02-18 02:16] #746 closed, assigned to nobody

[2019-02-19 02:15] Honglei-Cong commented on #745
testcases for performance comparison:
1. execution all transactions in main-net by importing blocks
2. processing block/tx syncing requests from 100 remote nodes
3. 1,000,000 transactions performance stress test

[2019-02-19 02:16] tanZiWen commented on #749
./ontology info status txhash, you can use this command to show notify info.

[2019-02-19 13:12] trang-phan opened #756 "GO annotation for citrus species"
I would like to request GO annotation for citrus sinensis.
I'm using CLC Genomics Workbench for my RNAseq analysis. Although they offer options for doing GO enrichment, the GO annotation file needs to be downloaded from a separate source (geneontology.org website) which unfortunately does not have information for citrus species.
It will be very helpful if you could help generate one that is compat

[2019-02-19 15:40] laizy commented on #756
this is a blockchain project, which has nothing to do with http://geneontology.org/ you mentioned. :)

[2019-02-19 15:40] #756 closed, assigned to nobody

[2019-02-24 10:41] Honglei-Cong commented on #737
In performance test, if too much block/header requests from peers, lots of memory are allocated.

[2019-02-24 10:58] Honglei-Cong commented on #693
[bytearray:264afcc852f8d25d2e0bfb38f2d5fe31da6de70d,
bytearray:0ce266a4a2f29ed7b23d59c45a0196c6b766a0cb,
int:1]

Should the first two item be address?

[2019-02-24 10:59] Honglei-Cong commented on #667
OK.  Thanks.

[2019-02-25 02:05] Honglei-Cong commented on #744
decide not implement this now.

[2019-02-25 02:05] #744 closed, assigned to nobody

[2019-02-28 08:42] Honglei-Cong commented on #745
resolved by https://github.com/ontio/ontology/commit/42888aaf9671c587722cf6e1b0896cda9f563152

[2019-02-28 08:42] #745 closed, assigned to nobody

[2019-02-28 08:57] javajoker opened #762 "cost too much time on batch block syncing"
ontology ver 1.5.3

4 Core, 16 GB, 7,200 rpm HDD.
sync ontology mainnet blocks, block height around 2 million
cost around 2+ minutes to sync the block, after that, sync process went smoothly

[2019-03-04 06:53] caowencai opened #764 "A mistake at source code “ontology/cmd/account.go”"
A mistake at source code  [ontology/cmd/account.go](https://github.com/ontio/ontology/blob/master/cmd/account.go).
Line 25， an extra "s"

[2019-03-04 08:13] Honglei-Cong commented on #764
it's an alias of imported package "github.com/ontio/ontology-crypto/signature".

Please check its usage at lines 76 ~ 104.

[2019-03-04 08:13] #764 closed, assigned to nobody

[2019-03-04 08:23] Honglei-Cong opened #765 "clearPasswd to clean memory footprint after user changed his password"
ontology/cmd/account_cmd.go ~ 343

clear password after password changed.

[2019-03-04 08:25] Honglei-Cong opened #766 "mask typed password from screen on Windows platform"
mask password on screen as user typing on console, for Windows platform.

[2019-03-04 08:28] Honglei-Cong opened #767 "improve error report after account deleted from wallet"
After account deleted from wallet, getting it with index, reported "cannot get account by address: ...".
It should be "cannot get account by index ...".

[2019-03-04 08:31] Honglei-Cong opened #768 "remove unused code @ vbft config"
ChainConfig.Deserialize make no limit on input buffer, and not used.
If it's not used, please remove the code.
If used, please add limit on input buffer.

[2019-03-04 08:36] Honglei-Cong opened #769 "should not ignore errors in config deserialization"
@vbft / config / config.go, line 129, 132,
errors of ReadString and ReadUint32 are ignored, which should not be ignored.

[2019-03-04 09:07] caowencai opened #770 "Distributed data exchange protocol"
In the white paper, there is something about distributed data exchange protocol.
If I want to exchange data  via ONT, where to set up or implement **ddep** by self?
I find it hard to get useful ingormation in the dev-docs, any tips?

Thanks a lot.

[2019-03-04 12:42] leeduckgo commented on #513
Get Transactions by one Request is more efficient, so is there any way to parse payload-code? I can code by myself but it's more reliable if there is any official code. :)

[2019-03-04 12:44] leeduckgo commented on #513
@luodanwg @xizho10

[2019-03-04 13:03] laizy commented on #513
the transaction execution may be failed, such as balance not enough. so it is not reliable.

[2019-03-05 08:38] xiemylogos commented on #768
now ChainConfig.Deserialize() function  not used.I will submit  an pr remove the function

[2019-03-05 08:42] xiemylogos commented on #769
some time,when read PeerConfig  serialization failed,we need these error info.so these error not be ignored.

[2019-03-05 09:08] Honglei-Cong commented on #768
Thanks.

[2019-03-05 09:09] Honglei-Cong commented on #769
Thanks.

[2019-03-05 09:31] Honglei-Cong commented on #770
@xiaomin49

[2019-03-05 09:32] Honglei-Cong commented on #762
memory consumed by leveldb compacting.

[2019-03-05 11:25] #769 closed, assigned to nobody

[2019-03-05 11:25] #768 closed, assigned to nobody

[2019-03-08 05:46] Honglei-Cong commented on #766
@kunxian-xia

[2019-03-08 05:48] Honglei-Cong commented on #767
@AlverLyu

[2019-03-08 05:48] Honglei-Cong commented on #765
@AlverLyu

[2019-03-10 05:06] Honglei-Cong commented on #767
https://github.com/ontio/ontology/pull/776

[2019-03-10 05:06] #767 closed, assigned to AlverLyu

[2019-03-10 05:06] Honglei-Cong commented on #766
https://github.com/ontio/ontology/pull/776

[2019-03-10 05:06] #766 closed, assigned to AlverLyu

[2019-03-10 05:07] Honglei-Cong commented on #765
https://github.com/ontio/ontology/pull/776

[2019-03-10 05:07] #765 closed, assigned to AlverLyu

[2019-03-11 07:41] siovanus opened #777 "cross chain design"

[2019-03-11 07:43] siovanus commented on #777
![image](https://user-images.githubusercontent.com/16396984/54107535-6d949700-4414-11e9-9361-95feaf1595b0.png)

[2019-03-11 07:47] #777 closed, assigned to tanZiWen

[2019-03-11 07:52] Honglei-Cong opened #778 "WASM-VM Performance Improving"
related issues:
- [x] add compiled wasm module: https://github.com/ontio/wagon/pull/8
- [x] cache compiled module: https://github.com/ontio/ontology/pull/812
- [x] reduce inital memory allocation: https://github.com/ontio/ontology-wasm-cdt-rust/pull/38
- [x] ~~avoid data copy and memory allocation: https://github.com/ontio/ontology-wasm-cdt-rust/issues/40~~

[2019-03-11 07:52] Honglei-Cong opened #779 "chain runtime api implementation"

[2019-03-11 07:53] Honglei-Cong opened #780 "WASM contract std lib support"

[2019-03-11 07:53] Honglei-Cong opened #781 "Ontology WASM public code-review/auditing"
Ontology WASM (branch code-audit-preview) is under public code-review and auditing.

This issue is to track the auditing progress.

[2019-03-11 07:56] Honglei-Cong opened #782 "sharding PoC design"

[2019-03-11 07:56] Honglei-Cong opened #783 "shard gas management system contract"

[2019-03-11 07:57] Honglei-Cong opened #784 "block/txn support for sharding"

[2019-03-11 07:57] Honglei-Cong opened #785 "sharding test tool development"

[2019-03-11 07:57] Honglei-Cong opened #786 "shard management system contract"

[2019-03-11 07:57] Honglei-Cong opened #787 "go-sdk support for sharding transaction"

[2019-03-11 07:57] Honglei-Cong opened #788 "sharding chain-mgr PoC"

[2019-03-11 07:57] Honglei-Cong opened #789 "consensus engine supports sharding - solo"

[2019-03-11 07:57] Honglei-Cong opened #790 "shard ID management"

[2019-03-11 07:58] #783 closed, assigned to xiemylogos

[2019-03-11 07:58] #782 closed, assigned to Honglei-Cong

[2019-03-11 07:59] #784 closed, assigned to Honglei-Cong

[2019-03-11 07:59] #785 closed, assigned to qiluge

[2019-03-11 07:59] #786 closed, assigned to Honglei-Cong

[2019-03-11 08:00] #790 closed, assigned to laizy

[2019-03-11 08:00] #789 closed, assigned to Honglei-Cong

[2019-03-11 08:01] #788 closed, assigned to laizy

[2019-03-11 08:01] #787 closed, assigned to xiemylogos

[2019-03-11 08:02] Honglei-Cong opened #791 "shard governance system contract"

[2019-03-11 08:02] Honglei-Cong opened #792 "relay of cross-shard smart contract notification request"

[2019-03-11 08:02] Honglei-Cong opened #793 "Shard-MQ system contract"

[2019-03-11 08:02] Honglei-Cong opened #794 "consensus engine supports sharding - vbft"

[2019-03-11 08:02] Honglei-Cong opened #795 "sharding chain-mgr persistency"

[2019-03-11 08:04] Honglei-Cong opened #796 "shard ledger management"

[2019-03-11 08:04] Honglei-Cong opened #797 "consensus engine supports sharding - dbft"

[2019-03-11 08:04] Honglei-Cong opened #798 "cross-shard gas settlement"

[2019-03-11 08:05] Honglei-Cong opened #799 "Launch basic-functioned sharding TestNet"

[2019-03-11 08:07] Honglei-Cong opened #800 "improve message serialisation in broadcasting"

[2019-03-11 08:07] Honglei-Cong opened #801 "vbft consensus enhancement"

[2019-03-11 08:08] Honglei-Cong opened #802 "ledger consistency checking"

[2019-03-11 08:18] laizy opened #803 "cross contract invocation from wasm to native"

[2019-03-11 08:19] laizy opened #804 "cross contract invocation from wasm to neo"
figure out an unified data exchange scheme to pass param to neovm and get result from neovm

[2019-03-11 08:56] chengmiaook opened #805 "readonly wallet ?"
#### Is your feature request related to a problem? Please describe.

#### Describe the solution you would like

#### Describe alternatives you have considered

#### Additional context
hello,it suporrt the readonly wallet ? can i do  save pubkey in wallet but the prikey in database  please ?c

[2019-03-12 15:53] Honglei-Cong commented on #805
Currently, wallet-data is saved in wallet file, it usually is named 'wallet.dat'.

Yes, you can save pubkey in wallet, but private key in database.  It's not supported now.
Loading private key/account from remote server seems an enterprise requirement.
I think Ontology may not take it as high priority task.

[2019-03-12 17:02] Krestol opened #806 "Consensus halt"
1.6.0-beta

The issue is actual for the latest release
The issue reproduces on Windows and Linux

Steps:
1. run 7 consensus nodes
2. suspend 4 of 7 consensus nodes
3. resume all suspended nodes

Expected Result :
New blocks appear in the blockchain

Actual Result:
Consensus halt is present. Now new blocks appear  in the blockchain

For running private network on Windows you can unpack archive [pri

[2019-03-13 06:11] xiemylogos commented on #806
Hi Krestol.can you send your test log,I test 1.6.0-beta use your method, It looks like everything is ok. I review your https://github.com/ontio/ontology/pull/807 .but  There are some errors, use this pr in new consensus code ,the consensus halt. because your function getConsensusedCommittedBlockNum()   always return 0,false.

[2019-03-15 07:17] Honglei-Cong opened #810 "native contract to support ec curve operations and zk-SNARK verification"
https://github.com/ontio/ontology/pull/808

[2019-03-20 07:40] hunjixin opened #814 "is wasm contract support？"

[2019-03-20 07:55] laizy commented on #814
Currently under intense development, but the chain runtime api is nearly stable, so you can try to write some contract use [rust](https://github.com/ontio/ontology-wasm-cdt-rust) or [cpp](https://github.com/ontio/ontology-wasm-cdt-cpp) now.

[2019-03-21 08:45] hunjixin commented on #814
@laizy cpp to wsam is quietly big,how can reduces the size

[2019-03-21 08:58] laizy commented on #814
you can use wasm-opt: https://github.com/WebAssembly/binaryen

[2019-03-21 09:11] hunjixin commented on #814
not work,but it seems because asm.js file  that generates from c++ is too big
[code]

[2019-03-21 09:34] laizy commented on #814
why you not generate wasm file directly instead of asm.js file?

[2019-03-21 09:39] hunjixin commented on #814
i am using emcc, this tool will generate wasm from asm.js.
how to generate wasm file directly,? or some tool will help

[2019-03-21 09:53] laizy commented on #814
I mostly maintain the [rust](https://github.com/ontio/ontology-wasm-cdt-rust) version. maybe @carltraveler can answer your question.

[2019-03-21 12:01] hunjixin commented on #814
@carltraveler  wasm from c++ has import “env" . this leads to an error

[2019-03-29 19:18] inertia186 commented on #577
`make docker` fails

[code]

[2019-03-30 01:42] Honglei-Cong commented on #806
fixed by #807

[2019-03-30 01:42] #806 closed, assigned to nobody

[2019-03-30 01:42] #802 closed, assigned to laizy

[2019-03-30 01:43] #800 closed, assigned to Honglei-Cong

[2019-03-30 01:44] #801 closed, assigned to xiemylogos

[2019-03-31 07:42] Honglei-Cong opened #831 "ShardInfo mgmt of chainmgr"
need lock protection.

[2019-04-01 04:10] Honglei-Cong commented on #654
no response yet.
close temporarily.

[2019-04-01 04:10] #654 closed, assigned to nobody

[2019-04-01 04:10] #663 closed, assigned to nobody

[2019-04-01 04:11] #693 closed, assigned to nobody

[2019-04-04 11:04] #791 closed, assigned to qiluge

[2019-04-04 11:05] #792 closed, assigned to laizy

[2019-04-04 11:05] #794 closed, assigned to xiemylogos

[2019-04-04 11:05] #793 closed, assigned to Honglei-Cong

[2019-04-08 05:34] #831 closed, assigned to Honglei-Cong

[2019-04-08 05:34] Honglei-Cong commented on #799
delayed to Phase-2

[2019-04-08 05:34] #799 closed, assigned to Honglei-Cong

[2019-04-08 05:35] #805 closed, assigned to nobody

[2019-04-11 11:09] roccomuso opened #844 "How to get private key from wallet.dat"
I got my wallet password, how can I get the plain privateKey from my `wallet.dat`, with the ontology-cli tool?
I saw `scrypt` is involved.

[2019-04-11 16:21] Honglei-Cong commented on #844
Hi, ontology-cli cant print plain privateKey on screen.
You can use other wallet, for example OWallet https://github.com/ontio/OWallet/releases, to export your private key in WIF from wallet.dat.

[2019-04-12 10:14] roccomuso commented on #844
What I'm looking for is key generation with ed25519, don't know if OWallet uses this algorithm.

[2019-04-13 02:14] laizy commented on #844
you can generate your `wallet.dat` use `ontology`, and import it use OWallet.

[2019-04-13 16:37] Kelsoken opened #847 "can not claim ONG from Owallet"
can anyone help me?
I have an ONT wallet but cannot claim my ONG :-(
can someone please send ONG to my wallet, I will greatly appreciate this,
my wallet address is:
ASCmxgVzxfe2WosoCCh6hCHZ59TNau5N9V

[2019-04-18 02:27] Honglei-Cong commented on #847
ONG balance of ASCmxgVzxfe2WosoCCh6hCHZ59TNau5N9V had been 0.27805964.
I take this as resolved.

[2019-04-18 02:27] #847 closed, assigned to nobody

[2019-04-18 06:13] #667 closed, assigned to nobody

[2019-04-18 06:14] #690 closed, assigned to nobody

[2019-04-18 08:16] zhangsj opened #851 "1.6版本对日志是不是做了修改"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
1.6

#### Does this issue reproduce with the latest release?
1.6

#### What operating system are you using (such as macOS, Linux and Windows)?
linux

在1.5.3版本中使用supervisor启动程序没问题，在1.6中无法正常启动，无日志输出。
supervisor配置
[program:ont]
user=root
command=ontology --rest
nump

[2019-04-18 08:20] laizy commented on #851
经排查，是依赖上游的一个包导致的，下一个版本将修复。

[2019-04-22 13:53] #844 closed, assigned to nobody

[2019-04-23 03:13] dwjpeng opened #857 "mainnet sychronization error"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?

v1.6.0-0-g1e24e0f
#### Does this issue reproduce with the latest release?

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
![image](https://user-images.githubusercontent.com/8435346/56550473-4bb43580-65b8

[2019-04-24 08:30] Honglei-Cong commented on #851
#850

[2019-04-24 08:30] #851 closed, assigned to nobody

[2019-04-24 08:37] Honglei-Cong commented on #857
Hi, ledger consistency checking is enforced at version 1.6.0.  If you met this issue, it means your local blockchain ledger is inconsistent with major nodes in the network.
It's suggested to resync from the first block with v1.6.1.

[2019-04-24 08:37] #857 closed, assigned to nobody

[2019-04-24 17:00] smithy9901 opened #861 "error:saveBlock error state merkle root mismatch!"
Not gaining height, stopped at block 2999999

2019/04/24 16:54:35.285839 [ERROR] GID 6016, Ledger AddBlock BlockHeight:3000000 BlockHash:3e09c813a1e1175aab4a362df8509e4e5adcb999941e516667b13de0ced0bbf6 error:saveBlock error state merkle root mismatch!
2019/04/24 16:54:35.285865 [WARN ] GID 6016, [p2p]saveBlock Height:3000000 AddBlock error:saveBlock error state merkle root mismatch!

ver 1.6.1
Lin

[2019-04-25 02:21] Honglei-Cong commented on #861
Hi,
If your Ontology node stopped syncing at block 2999999, it probably means your local blockchain ledger has been inconsistent with other nodes.
The reason may be that some unstable versions of Ontology had been used before.
I suggest to re-synchronise from the first block with v1.6.1.

[2019-04-25 02:39] Honglei-Cong commented on #737
https://github.com/ontio/ontology/pull/852

[2019-04-25 02:42] carltraveler commented on #814
emcc is for web.  I have build a development tool of wasm cpp on ontology. please refer to [README.md](https://github.com/ontio/ontology-wasm-cdt-cpp/blob/master/README.md). just use ont_cpp yourcode.cpp.

[2019-04-25 02:50] carltraveler commented on #814
@hunjixin  ont_cpp compiler also have function import from "env".  all this fucntion is ontology blockchain api. function list refer to [service.h](https://github.com/ontio/ontology-wasm-cdt-cpp/blob/master/install/include/ontiolib/service.h)

[2019-04-28 03:36] Honglei-Cong commented on #667
most SDK has been based on current response.

[2019-04-28 07:27] Honglei-Cong opened #866 "Node - Start sharding after synced with main chain"

[2019-04-28 07:28] Honglei-Cong opened #867 "Log - separate logs from main-chain and shard chains"

[2019-04-28 07:29] Honglei-Cong commented on #866
Done by xiemylogos.

[2019-04-28 07:29] #866 closed, assigned to xiemylogos

[2019-04-28 07:45] Honglei-Cong commented on #867
Done.

[2019-04-28 07:45] #867 closed, assigned to Honglei-Cong

[2019-04-30 06:26] carltraveler opened #871 "cli command ./ontology account set --change-passwd index bug."
ontology version v1.6.0-6-g6e20ee66

 ./ontology account set --change-passwd account index

when input the wrong passwd. this command still require the new passed and can not update success. the right way should be report passwd error.

[2019-04-30 07:33] #861 closed, assigned to nobody

[2019-05-02 14:44] Honglei-Cong commented on #871
The previous password is checked when updating currently.

Thanks. We'll improve it.

[2019-05-03 05:31] Honglei-Cong commented on #810
If not a required-feature, plan to merge with sharding.

[2019-05-07 16:27] ddzyan opened #880 "NewLedger error"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
v1.6.2-alpha

#### Does this issue reproduce with the latest release?

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
`
./ontology-linux-amd64
`
`
2019/05/08 00:16:52.896505 [INFO ] GID 1, Config init suc

[2019-05-08 17:08] ak47j opened #886 "Wallet stucked at 2999999"
Hi there,

I am using wallet version 1.6.0 in Ubuntu 16.04

and wallet syncing stuck at 2999999

error terminal got:

Ledger AddBlock BlockHeight:3000000 BlockHash:3e09c813a1e1175aab4a362df8509e4e5adcb999941e516667b13de0ced0bbf6 error:saveBlock error state merkle root mismatch!

Could you please address the problem?
Thanks

[2019-05-09 02:12] laizy commented on #886
please update to version 1.6.1

[2019-05-09 02:12] #886 closed, assigned to nobody

[2019-05-09 03:13] ak47j commented on #857
Hello, the same on my side,
Was it worked when resync from the first block with v1.6.1 @dwjpeng ?
Resyncing from the first block took my pain in some days... don't know what happen will be there!

[2019-05-09 15:29] Honglei-Cong commented on #880
This may caused by partial writing of ontology ledger when process is shutdown.
Some data in ledger has not been in consistent state.
You'll have to resync from the first block currently.  We're implementing ledger recovery function to try recovering inconsistent ledger.

[2019-05-09 15:49] Honglei-Cong commented on #814
for compiler, please reference to repo https://github.com/ontio/ontology-wasm-cdt-rust and https://github.com/ontio/ontology-wasm-cdt-cpp
for wasm-vm, please reference to branch wasm

[2019-05-09 15:49] #814 closed, assigned to nobody

[2019-05-12 08:07] tpkeeper opened #890 "P2P : handshake with consensus node in dualport seems not work well"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
master latest

#### Does this issue reproduce with the latest release?

#### What operating system are you using (such as macOS, Linux and Windows)?

window testnet

#### What did you do?

If possible, provide a recipe for reproducing the error. A complete runnab

[2019-05-12 09:27] laizy commented on #890
`dualport` is not supported, we may need remove the legacy code .

[2019-05-13 01:22] #890 closed, assigned to nobody

[2019-05-14 02:36] liujinminggithub opened #892 "同步节点程序退出"

[2019-05-14 02:45] #892 closed, assigned to nobody

[2019-05-14 05:49] Honglei-Cong commented on #796
#869

[2019-05-14 05:49] #796 closed, assigned to laizy

[2019-05-14 05:55] Honglei-Cong commented on #866
#875
#869

[2019-05-16 08:46] love386 opened #905 "state merkle root mismatch"
How can I upgrade to version 1.6.1?

[2019-05-16 08:48] love386 commented on #905
Ledger AddBlock BlockHeight:3000000 BlockHash:3e09c813a1e1175aab4a362df8509e4e5adcb999941e516667b13de0ced0bbf6 error:saveBlock error state merkle root mismatch!

[2019-05-16 08:56] love386 commented on #905
ontology version v1.6.0-3-g82442f1
ubuntu  16.04

[2019-05-16 08:58] love386 commented on #886
How can I upgrade to version 1.6.1?

[2019-05-16 08:58] love386 commented on #886
Thank you

[2019-05-16 08:59] love386 commented on #886
I have the same mistake with him.

[2019-05-16 09:16] laizy commented on #905
yes, you need upgrade to version 1.6.1.

[2019-05-16 09:16] #905 closed, assigned to nobody

[2019-05-16 09:18] laizy commented on #886
@love386 download the binary at the [release page ](https://github.com/ontio/ontology/releases/tag/v1.6.1), and replace the original binary, restart `ontology`.

[2019-05-17 02:12] love386 commented on #905
I don't know how to upgrade, is there any documentation, thank you

[2019-05-17 06:06] laizy commented on #905
@love386 download the binary at the [release page ](https://github.com/ontio/ontology/releases/tag/v1.6.1), and replace the original binary, restart `ontology`.

_Originally posted by @laizy in https://github.com/ontio/ontology/issues/886#issuecomment-492988902_

[2019-05-17 07:41] laizy commented on #905
no

[2019-05-17 07:46] love386 commented on #905
Thank you

[2019-05-17 08:00] love386 commented on #905
Hello, I downloaded the ontology-linux-amd64 binary file, and added the execution permission, replaced the original command, restart the body, what is the problem?

![image](https://user-images.githubusercontent.com/45838695/57912267-76926080-78bc-11e9-9d1d-8bf05f6bbc7b.png)

[2019-05-17 08:57] laizy commented on #905
you need delete your Chain, and re-sync from genesis block.

[2019-05-17 08:59] love386 commented on #905
That is to delete the data I have synchronized before, and then re-synchronize the data on the chain?

[2019-05-17 09:01] love386 commented on #905
If I clear the previously synchronized data, will my existing user accounts and assets be affected? Thank you.

[2019-05-17 09:09] love386 commented on #905
The ontology wallet can export the user's keys file, which is the user's asset information.

[2019-05-17 09:23] laizy commented on #905
you only need save your wallet, the asset information is saved on the blockchain. you can get user's asset information in [blockchain explorer](https://explorer.ont.io/)

[2019-05-17 09:49] love386 commented on #905
Ok, thank you very much.

[2019-05-17 12:26] love386 commented on #905
Hello Upgrade to 1.6.1 sync to 376526 error message as shown below

[2019-05-17 12:26] love386 commented on #905
![image](https://user-images.githubusercontent.com/45838695/57927962-16161a00-78e2-11e9-9656-967b614c7879.png)

[2019-05-17 12:27] love386 commented on #905
What is the problem, thank you

[2019-05-17 12:43] love386 commented on #905
Restarted the next body and continued to synchronize, what will be the problem?

[2019-05-17 12:45] love386 commented on #905
But there is still an error in the picture below.
![image](https://user-images.githubusercontent.com/45838695/57928978-ac4b3f80-78e4-11e9-8f24-fa2ec6af6bce.png)

[2019-05-17 13:00] laizy commented on #905
Some remote nodes may reject to sync data to you. It is **OK** if `CurrentBlockHeight` increases

[2019-05-18 02:16] heshuchao opened #908 "getsmartcodeevent keep returns null"
ontology version is "v1.6.1-0-gc46ec1f"

tried to call the method with both block height and transaction hash ,
no error returns ,but the respond is "nul"l

[2019-05-18 08:03] love386 commented on #905
Hello, after the ont main wallet is upgraded to 1.6.1, why is it automatically killed?
![image](https://user-images.githubusercontent.com/45838695/57966575-80809600-7986-11e9-9e10-1da6cae62b7d.png)

[2019-05-19 02:59] #880 closed, assigned to nobody

[2019-05-19 03:06] Honglei-Cong commented on #908
Please check your code :)
From our test, both interfaces works well.

## query with tx hash

curl http://dappnode1.ont.io:20334/api/v1/smartcode/event/txhash/a6e3e46cf9ec57dfb00502d9d47236f083d590bf8e0b41d69540dcd907eba8df
{"Action":"getsmartcodeeventbyhash","Desc":"SUCCESS","Error":0,"Result":{"TxHash":"a6e3e46cf9ec57dfb00502d9d47236f083d590bf8e0b41d69540dcd907eba8df","State":1,"GasConsumed":1000

[2019-05-19 03:06] #908 closed, assigned to nobody

[2019-05-19 03:07] #749 closed, assigned to nobody

[2019-05-19 03:25] heshuchao commented on #908
I know why now,
I start the node with  --disable-tx-pool-pre-exec and  --disable-sync-verify-tx, after delete these two configurations ,the getsmartcodeevent method works correct.

[2019-05-19 15:18] laizy commented on #905
maybe it is out of memory.

[2019-05-20 02:32] olizax commented on #861
same error
1.6.0
ubuntu 18.04

[2019-05-20 03:57] love386 commented on #905
ok  Thank you

[2019-05-22 07:08] #871 closed, assigned to nobody

[2019-05-22 07:10] Honglei-Cong commented on #795
#912

[2019-05-22 07:10] #795 closed, assigned to Honglei-Cong

[2019-05-24 02:31] pigxo opened #917 "deserializing public key failed: unrecognized algorithm label"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
 ../ontology  --version
ontology version v1.6.2-alpha-0-g66273d5

#### Does this issue reproduce with the latest release?

Yes
#### What operating system are you using (such as macOS, Linux and Windows)?
linux docker

#### What did you do?

If possible, provide a

[2019-05-24 02:39] laizy commented on #917
thanks for report. we will investigate this.

[2019-05-24 16:20] #917 closed, assigned to nobody

[2019-05-25 15:27] Honglei-Cong opened #922 "Docker script to setup Ontology private network"
From https://github.com/ontio/OEPs/pull/4

==Abstract==

A docker image pre-configured with an Ontology multinode setup has been created to assist developers in testing and deploying applications/services in a local environment they can control.
Github repository: https://github.com/OntologyCommunityDevelopers/ontology-privatenet-docker

==Motivation==

Currently the Ontology testnet is the only p

[2019-05-28 10:36] lealLuo opened #929 "How can i call the native contract in my testmode?"
I ran the node with testmode, and noticed there are several native contracts that i can call.
And there's document here `https://github.com/ontio/ontology/blob/master/docs/specifications/native_contract/ontidnotify.md`
but I got the error message that the contract doesn't exist.

[code]
I use browser to check, but i can see the contract exist.

[code]

What i expect:
I want to call the native cont

[2019-05-28 12:16] WyattMufson opened #930 "Missing MAX_ARRAY_SIZE check"
As discussed by me and @laizy in https://github.com/ontio/OEPs/pull/51 - `validateAppend` isn't checking the `MAX_ARRAY_SIZE` (https://github.com/ontio/ontology/blob/master/vm/neovm/func_validate.go#L571)

[2019-05-28 12:24] laizy commented on #930
@tanZiWen

[2019-05-29 02:21] tanZiWen commented on #930
great, we will fix this question.

[2019-05-31 08:18] lealLuo commented on #929
It's my mistake. The native contract cannot be called by NeoVm method. I can call the native contract by JavaSdk or GolangSdk now.
close the issue.

[2019-05-31 08:18] #929 closed, assigned to nobody

[2019-06-01 08:45] WyattMufson opened #936 "Docker fails to start"
#### What version of ontology are you using (`ontology --version`)?
Building from source

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
macOS 10.14.4

#### What did you do?

`git clone`
`git pull`
`make all`
`make docker`
`docker run ontio/ontology`

Get the following error:
[code]

#### What did you expect

[2019-06-01 08:50] WyattMufson commented on #936
Updating to Docker Desktop Community version 2.0.0.3 (31259) did not fix the issue

[2019-06-01 15:11] Honglei-Cong commented on #936
Thanks. We'll look at the issue.

[2019-06-02 03:29] Honglei-Cong commented on #936
I made some quick test with Linux, not get the issue.

[code]

[2019-06-02 10:07] WyattMufson commented on #936
@Honglei-Cong does it not work on macOS?

Running what you put prints:

[code]

[2019-06-02 10:28] WyattMufson commented on #936
I think this is an issue with my GOPATH and not with Ontology. Will update this when I figure it out.

[2019-06-02 10:47] WyattMufson commented on #936
@Honglei-Cong the issue is that it doesn't work outside of the GOPATH. So if I do it all in the right directory, running the following starts Docker:

[code]

However, when I try running it with `--testmode` I get:

[code]

I have already created a wallet, `wallet.dat` such that the structure is:

[code]

[2019-06-02 10:48] WyattMufson commented on #936
And running `./ontology --testmode` works and finds the wallet.

[2019-06-02 10:50] WyattMufson commented on #936
Specifying the full path with the `--wallet` flag does not resolve the issue.

[2019-06-02 11:33] WyattMufson commented on #936
@laizy do you have any idea about this?

[2019-06-03 02:47] Honglei-Cong commented on #936
please bind local wallet file to docker.

[code]

[2019-06-03 12:28] WyattMufson commented on #936
So that successfully starts Docker, but now the python sdk doesn't see the private net when I do:
[code]

[2019-06-03 14:56] Honglei-Cong commented on #936
rpc port is 20336.
Please make sure starting docker with param `-p 20336:20336`, to mapping port 20336 from docker container to localhost.

[2019-06-03 15:58] WyattMufson commented on #936
@Honglei-Cong you did it! This also resolves https://github.com/ontio/ontology-python-sdk/issues/346

[2019-06-03 15:58] #936 closed, assigned to nobody

[2019-06-04 01:45] Honglei-Cong commented on #922
script for testmode private net

[code]

[2019-06-05 04:08] yangyanqing opened #943 "Deploy smart contract hello-world fail on v1.6.2-beta"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?

ontology version v1.6.2-beta-0-ga235cfe8

#### Does this issue reproduce with the latest release?

yes

#### What operating system are you using (such as macOS, Linux and Windows)?

macOS 10.14.5 (18F132)

#### What did you do?

If possible, provide a recipe for

[2019-06-05 05:03] yangyanqing commented on #943
`--code` should use `avm` file from SmartX .

[2019-06-05 05:03] #943 closed, assigned to nobody

[2019-06-07 08:54] Honglei-Cong commented on #798
#897

[2019-06-07 08:54] #798 closed, assigned to xiemylogos

[2019-06-07 20:10] WyattMufson opened #946 "PackedList append issue"
I am testing the PackedList for OEP5 (https://github.com/TowerBuilders/PackedList/blob/master/packed.py)

I am deploying the contract to a private net running 1.7.0-alpha. I am deploying and invoking the contract with the python sdk.

And when adding around 10 items I get the error:

I think the issue is in `PackedAppend` (https://github.com/TowerBuilders/PackedList/blob/master/packed.py#L111)

I

[2019-06-07 20:42] WyattMufson commented on #946
To clarify, it gets the error after 10 appends when `MAXIMUM_ARRAY_LENGTH` is 2

When `MAXIMUM_ARRAY_LENGTH` is 5 it errors around 20.
When `MAXIMUM_ARRAY_LENGTH` is 1024 it errors in thousands.

[2019-06-07 20:55] WyattMufson commented on #946
At 1024 it errors at 9231

[2019-06-08 00:41] WyattMufson commented on #946
@laizy So it appears that a PackedList can only have a depth of 9, so the maximum amount of items is equal to:

`MAXIMUM_ARRAY_LENGTH` * 9 - 8

[2019-06-08 00:42] WyattMufson commented on #946
So it should either be capped at that value or dynamically allocate additional arrays. That would at least enable a maximum of what, `1024 * MAXIMUM_ARRAY_LENGTH * 9 - 8`?

[2019-06-08 03:04] WyattMufson commented on #946
I've concluded that the depth control is at 7. So I have created a new type, DynamicList that can hold:
[code]

[2019-06-08 03:14] laizy commented on #946
this is restricted at:
https://github.com/ontio/ontology/blob/176a1ba39585a16dc52d7b1399753d40a539cf4a/vm/neovm/types/struct.go#L30

[2019-06-08 03:21] WyattMufson commented on #946
@laizy that's interesting. I've found that 7 layers seems to be the limit.

I documented it here: https://github.com/TowerBuilders/Ontology-Advanced-Storage-Objects

[2019-06-08 03:23] WyattMufson commented on #946
@laizy it also looks like

https://github.com/ontio/ontology/blob/176a1ba39585a16dc52d7b1399753d40a539cf4a/vm/neovm/types/struct.go#L107

is never called. The other function I listed before does check the depth though.

[2019-06-08 03:34] WyattMufson commented on #946
I understand why I'm getting 7 layers.

The `packed` array on the `DynamicList` is 1.
The specific `PackedList` in the `packed` array is 2.
The `array` field in the `PackedList` is 3.

[2019-06-08 03:34] #946 closed, assigned to nobody

[2019-06-10 07:50] zhaoguojie2010 opened #947 "leader proposer"
Hello, I see that ont has leader-proposer and 2nd-proposer. It's possible that the leader-proposer can manipulate the block it generates so that it continues to be the leader-proposer in next round since only proposal from leader-proposer is accepted before timeout. I think it's a critical issue, what do you think of it?

[2019-06-19 02:21] qiluge commented on #947
The proposer of each block is generated from vrf, and the random seed of vrf depends on last block attribute. So every proposer is randomly generated.

[2019-06-19 09:54] Honglei-Cong commented on #947
#960

[2019-06-19 09:54] #947 closed, assigned to nobody

[2019-06-19 09:56] Honglei-Cong commented on #770
Ontology WhitePaper 2.0 is going to be released this month.
DDXF framework will be included.

[2019-06-19 09:57] #770 closed, assigned to nobody

[2019-06-19 09:58] Honglei-Cong commented on #930
#958

[2019-06-19 09:58] #930 closed, assigned to nobody

[2019-06-20 01:44] minsoo5403 commented on #922
Community GitHub Page is 404 error.

[2019-06-21 08:56] Honglei-Cong opened #967 "Fault Tolerance - parallel commit Root/Shard ledger"

[2019-06-24 05:43] laizy opened #969 "the serialization of struct CrossShardTxInfos is not symmetric"
code in https://github.com/ontio/ontology/blob/sharding/core/types/cross_shard_msg.go#L185

[2019-06-24 05:44] laizy opened #970 "simplify struct CrossShardMsgInfo"

[2019-06-24 07:13] xiemylogos opened #971 "save shard data from parent shard"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Example: I'm facing an issue when [...]

#### Describe the solution you would like
A clear and concise description of what you want to happen.

#### Describe alternatives you have considered
A clear and concise description of any alternative solutions or features you have con

[2019-06-24 07:29] xiemylogos opened #972 "remove parent block cache"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Example: I'm facing an issue when [...]

#### Describe the solution you would like
A clear and concise description of what you want to happen.

#### Describe alternatives you have considered
A clear and concise description of any alternative solutions or features you have con

[2019-06-24 07:30] xiemylogos opened #973 "shard consensus get new chainconfig from event store"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Example: I'm facing an issue when [...]

#### Describe the solution you would like
A clear and concise description of what you want to happen.

#### Describe alternatives you have considered
A clear and concise description of any alternative solutions or features you have con

[2019-06-24 09:55] laizy opened #974 "need verify SignMsgHeight when receive CrossShardMsgInfo message from other nodes"

[2019-06-24 11:40] laizy opened #975 "simplify struct CrossShardMsgInfo"
the current struct
[code]
should be simplified to :
[code]

[2019-06-25 09:05] xiemylogos opened #977 "ContractEvent rename to DeployContractEvent"
type ContractEvent struct {
	Version  uint32
	Height   uint32
	Contract *payload.DeployCode
}
rename to
type DeployContractEvent struct {
	Version  uint32
	Height   uint32
	Contract *payload.DeployCode
}

[2019-06-27 02:27] laizy opened #983 "some windows release version of ontology report error on startup"
[code]

[2019-06-27 09:02] Honglei-Cong commented on #970
#976

[2019-06-27 09:02] #970 closed, assigned to nobody

[2019-06-27 09:03] Honglei-Cong commented on #969
#981

[2019-06-27 09:04] #969 closed, assigned to nobody

[2019-06-27 09:16] Honglei-Cong commented on #972
#976

[2019-06-27 09:16] #972 closed, assigned to Honglei-Cong

[2019-06-27 09:17] #967 closed, assigned to nobody

[2019-06-28 02:11] JasonZhouPW opened #986 "Travis run unittest failed"
when add PR , the Traivs report the following error message :
=== RUN   TestCalcParticipantPeers
--- FAIL: TestCalcParticipantPeers (0.00s)
	node_utils_test.go:210: peers(7, 2, 5, 3, 4, 3): [4 2 1], [5 1 2 6], [6 1 5]
please have a check

[2019-06-28 03:12] #986 closed, assigned to nobody

[2019-06-28 06:15] Honglei-Cong opened #990 "BlockFetchRsp msg deserialization error"
server 9 failed to deserialize vbft msg (len 5198): failed to Deserialize msg (type: 9): unmarshal block type: unexpected EOF

[2019-06-29 14:40] laizy opened #994 "optimize: avoid dulplicated transaction send to tx pool"
the same transaction will be received from many peers, add an RLUCache in p2p module to store recent transaction hash sended to tx pool.

[2019-06-30 00:29] #990 closed, assigned to Honglei-Cong

[2019-07-02 08:11] Honglei-Cong commented on #983
Eventbus Log path init failed.
It's an issue from event-bus.

[2019-07-02 08:11] #983 closed, assigned to nobody

[2019-07-02 08:14] Honglei-Cong commented on #922
what' the url?  @minsoo5403

[2019-07-02 08:15] #971 closed, assigned to nobody

[2019-07-02 08:35] Honglei-Cong commented on #973
fixed by #976 and #993

[2019-07-02 08:35] #973 closed, assigned to nobody

[2019-07-03 23:14] ghost opened #1001 "void"

[2019-07-04 00:19] ghost opened #1002 "Consider Switching to "dep""
https://github.com/Masterminds/glide/releases/tag/v0.13.0

[2019-07-04 01:26] Honglei-Cong commented on #1001
OK.  @javajoker

[2019-07-04 01:27] Honglei-Cong commented on #1002
Thanks for the info.
Right, we're planing to move to dep :)

[2019-07-04 02:27] xiemylogos opened #1003 "need verify cross shard msg sign and hash root when receive msg from p2p"
other shard  receive cross shard msg from p2p  in chainmgr module
1、need verify crosss shard msg sign
2、need verify cross shard msg hash root
3、save cross shard msg to map
4、save cross shard msg to db

[2019-07-04 02:30] javajoker commented on #1001
The diagram is for the overall architecture of Ontology, while the changeable consensus is just one feature of "Consensus Mechanism" in the diagram.
That's why we didn't put related description in the diagram directly, but add plain text to describe features outside.

Thanks.

[2019-07-04 03:24] ghost commented on #1002
I just hit on a glide-problem on windows, that why I filed this here!

[2019-07-04 03:31] ghost commented on #781
@Honglei-Cong , could you please add a one-liner comment, thus external folks can understand what this issue is about?

[2019-07-04 03:36] ghost opened #1004 "[ERROR] Export failed for github.com/ethereum/go-ethereum:"
#### What version of ontology are you using (`ontology --version`)?

the checked-out repo

#### What operating system are you using (such as macOS, Linux and Windows)?

Windows 10pro, native on PowerShell

#### What did you do?

Checkout repo, then

[code]

## Workaround

use https://github.com/Masterminds/glide/releases/tag/v0.12.3

## Related

This is most possibly a glide-on-Windows issue, see

[2019-07-04 07:51] xiemylogos opened #1006 "when other node has not receive cross shard msg,support message resend by msghash"
some times,when send cross shard msg to other node,but some unexpected situations lead to some other node,can't receive cross shard msg from p2p.so  need support resend msg.

[2019-07-04 08:11] minsoo5403 commented on #922
this url

https://github.com/OntologyCommunityDevelopers/ontology-privatenet-docker

[2019-07-05 01:42] Honglei-Cong commented on #781
OK

[2019-07-05 01:51] Honglei-Cong commented on #922
OntologyCommunityDevelopers seems been closed. :(

[2019-07-05 01:53] Honglei-Cong commented on #1004
set GOPATH to C:\Users\laz\go\ ?

[2019-07-05 01:58] Honglei-Cong commented on #1002
OK.
I'll tried dep.  It's more convenient than glide :)

But Ontology is based on golang 1.9.x currently.
"Dep" can be enabled officially after upgrading to golang 1.12.x.
It may take some time.

[2019-07-05 01:59] #974 closed, assigned to Honglei-Cong

[2019-07-05 01:59] #1003 closed, assigned to xiemylogos

[2019-07-05 02:45] ghost commented on #1004
Yes. Saw similar error in other products. Glide win trouble.

[2019-07-05 03:14] ghost commented on #1002
Possibly just require !.12+

https://github.com/ontio/ontology#build-development-environment

Dep seems unavoidable anyways.

[2019-07-05 06:57] xiemylogos opened #1007 "modify shardID type from uint64 to common.ShardID"
In sharding branch,modify shardID type from uint64 to common.ShardID

[2019-07-05 07:34] ksemaev opened #1008 "Disable logs on filesystem for docker"
Hi guys!

As I'm using the docker container to run the node, I want all logs to be sent to stdout. Currently I see that in $HOME the `ActorLog` directory and something like `2019-07-05_07.29.45_LOG.log` is created. I

 don't need any logs on my docker filesystem, so is there a way to disable such logs? Maybe some cli command?

[2019-07-05 09:33] Honglei-Cong commented on #1008
Good suggestion, but there's no cli command to disable file log now.

We'll enhance it.

[2019-07-05 12:49] xiemylogos opened #1012 "save block should save shardTx to blockstore"
In saveBlockToBlockStore(),should save shardTx to block store

[2019-07-06 02:48] Honglei-Cong opened #1013 "enforce shard gasPrice/gasLimit check on starting child shard"
att.

[2019-07-06 21:42] ghost opened #1014 "[SITE] New-Bounty not sendin Email"
Your bounty-system:

https://bounty.ont.io/

does not send a copy via Email (as it says it'll do) when filing a bounty-suggestion within:

https://bounty.ont.io/new_bounty_ideas

[2019-07-07 08:25] Honglei-Cong commented on #1014
@mooorex

[2019-07-08 05:40] qiluge opened #1017 "x-shard tx info query"
#### Is your feature request related to a problem? Please describe.
While the transaction call ```InvokeRemoteShard```, the tx would pending and wait result response. In this case, the original tx status is error. And the tx payer doesn't know when the result is returned. Also the payer doesn't know the result is correct or not.

#### Describe the solution you would like
In ontology x-shard invoke

[2019-07-08 11:10] #1007 closed, assigned to nobody

[2019-07-08 11:10] #1012 closed, assigned to nobody

[2019-07-08 11:10] #977 closed, assigned to nobody

[2019-07-09 01:39] ghost commented on #1004
@Honglei-Cong , any workaround here? Note that this is a BLOCKER on the windows-platform.

[2019-07-09 04:04] Honglei-Cong commented on #1004
As workaround, try `go get github.com/ethereum/go-ethereum` , and remove it from glide?

[2019-07-09 05:26] ghost commented on #1004
Tried, same error.

[2019-07-09 05:36] ghost commented on #1004
it works with glide 0.12.3

[2019-07-09 22:51] ghost opened #1023 "Document Windows Build"
It is not exactly clear how to build on Windows.

The README mentions as prerequisites:

* Go
* glide

But it seems that `make` (which one? ) and `docker` are needed, too.

Please clarify this.

[2019-07-09 22:51] ghost commented on #1004
follow-up problem: #1023

[2019-07-15 09:25] qiluge commented on #1017
closed https://github.com/ontio/ontology/pull/1022

[2019-07-15 09:25] #1017 closed, assigned to nobody

[2019-07-15 09:31] qiluge opened #1028 "TxState Query and X-Shard msg query"
#### Describe the solution you would like
In the sharding enviroment, each tx has a txState stored at state store. The txState contains many usful info of corresponding tx, such as tx x-shard msg, tx locked contract and keys. But there are no approch to display this info to developer. So, there need some method to get  txState info. And, this will be convenience to debug some x-shard contract invo

[2019-07-15 09:37] xiemylogos commented on #1028
use same method,can get other shard chainconfig from shard parent ledger.

[2019-07-15 09:50] qiluge commented on #1028
X-shard msg is not only exist in tx state, but also exist in state store.

[2019-07-15 10:09] elvin-du opened #1029 "not support float type in wasm?"

[2019-07-15 13:20] laizy commented on #1029
float operation may have different behavior in different platform, so to avoid hard fork, we currently disable it.

[2019-07-16 03:55] xiemylogos opened #1030 "shard process when log file size reaches the upper limit,can not creat new log file"
shard process when log file size reaches the upper limit and a new log file will not be created

[2019-07-19 02:10] #1030 closed, assigned to nobody

[2019-07-19 13:58] xiemylogos commented on #1028
get other shard chainconfig from shard parent ledger   https://github.com/ontio/ontology/pull/1037

[2019-07-21 03:29] #1001 closed, assigned to javajoker

[2019-07-29 02:19] #1029 closed, assigned to nobody

[2019-07-30 06:23] laizy commented on #781
The first audit was started in March, which focusing on the `ontology/vm/wasm` module, and we found some fundamental technical issues, so we reverted and re-implemented it. Now the second audit has been started, which focusing on the `wagon` lib. And we will constantly update the audit report here.

ontology:
- [x] determine the wasm contract gas fee
- [x] limit the wasm contract size, currently 5

[2019-08-06 07:51] MickWang opened #1050 "start node failed on Windows"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?

v1.7.0

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
Windows

#### What did you do?

run this command:
`ontology-windows-amd64.exe -p=1`

#### What did you expect to see

[2019-08-08 07:38] quocnhan opened #1051 "[TestNet] AddBlock error:saveBlock error state merkle root mismatch!"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
1.6.2

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
I want to sync with ontology testnet by this command :
`./ontology-linux-amd64 --networki

[2019-08-09 02:13] quocnhan commented on #861
even when i updated the version to 1.6.2, this bug are still here

[2019-08-09 02:59] laizy commented on #1051
@quocnhan, testnet currently use v1.7.0-beta. see [release notes](https://github.com/ontio/ontology/releases/tag/v1.7.0-beta).  please use that version.

[2019-08-09 04:57] quocnhan commented on #1051
thanks you. I will try it

[2019-08-09 15:17] Honglei-Cong commented on #861
which height? @olizax @quocnhan

[2019-08-09 15:21] Honglei-Cong commented on #1023
make is not a MUST requirement.
After <code>glide install</code>, you can build with <code>go build main.go</code>.

docker is needed when you build Ontology docker image.

[2019-08-12 02:27] quocnhan commented on #861
@Honglei-Cong 2428485 in 1.6.2, testnet

[2019-08-13 07:17] quocnhan commented on #1051
@laizy
![Screenshot from 2019-08-13 14-15-51](https://user-images.githubusercontent.com/33271341/62922144-ea1d0e80-bdd4-11e9-8835-5afbfb81aa0d.png)
I tested with 1.7.0-beta but it was stoped at 849999

[2019-08-13 11:31] laizy commented on #1051
@quocnhan ok, we will investigate soon.

[2019-08-14 03:11] Honglei-Cong commented on #1023
gomod supported now.

[2019-08-14 03:12] #1023 closed, assigned to nobody

[2019-08-14 03:14] Honglei-Cong opened #1054 "Update README after gomod supported"
Please update README,

using gomod to install dependencies if go version > 1.12.0
using glide if go version < 1.12.0

[2019-08-20 02:06] AlverLyu opened #1056 "Add features for ONT ID"
The previous ONT ID design is simple and cannot satisfy some complex requirements. Here describes three improvements for ONT ID:

* controller
* recovery
* revoking

### Controller

An ONT ID can be controlled by other ONT ID(s), in the controller mode. Distinguished from the original self-sovereign mode, the controlled ONT ID can be used without binding keys. Meanwhile, the entity does not need t

[2019-08-20 06:35] quocnhan commented on #1051
@laizy u still there ?

[2019-08-20 10:09] laizy commented on #1051
@quocnhan , we have checked the execution of each block in the testnet and mainnet last week, and identified the problem, we are fixing it, maybe it will works tomorrow.

[2019-08-21 02:00] quocnhan commented on #1051
@laizy btw, do we have any public node testnet which i can use rpc to interact with this network (create tx,signtx,sendtx ) without sync ?

[2019-08-21 02:01] quocnhan commented on #1051
tks. hope it work soon

[2019-08-21 02:12] laizy commented on #1051
yes, we provide the following nodes for testnet, they all support `RPC` , `Restful` and `WebSocket`:
[code]
for more info, you can read this documentation: https://dev-docs.ont.io/#/docs-cn/ontology-cli/03-connect-to-client?id=_3-%e4%bd%bf%e7%94%a8%e5%85%ac%e5%bc%80%e8%8a%82%e7%82%b9

[2019-08-21 02:28] quocnhan commented on #1051
@laizy I used postman to get block 100 but it Could not get any response . Could you help me ?
![Screenshot from 2019-08-21 09-25-57](https://user-images.githubusercontent.com/33271341/63397837-fcf79a80-c3f5-11e9-8358-f218e63bc457.png)
![Screenshot from 2019-08-21 09-28-21](https://user-images.githubusercontent.com/33271341/63397860-0d0f7a00-c3f6-11e9-85d3-5ee6697c226a.png)

[2019-08-21 02:29] quocnhan commented on #1051
i try method post and get, from node 1 to 5 but all of them not response to me

[2019-08-21 02:38] laizy commented on #1051
use port 20334 for restful api, like:http://polaris2.ont.io:20334/api/v1/block/details/height/100

[2019-08-21 02:48] laizy commented on #1051
@quocnhan, could you restart ontology 1.7.0-beta to help me confirm it works now?  It should continue sync blocks after 849999.

[2019-08-21 02:52] quocnhan commented on #1051
@laizy perfect, it work now. Let me sync and test with it. Tks for your support

[2019-08-21 02:54] quocnhan commented on #1051
@laizy in mainnet, we should use 1.6.2, right ?

[2019-08-21 02:55] laizy commented on #1051
yes.

[2019-08-22 02:19] quocnhan commented on #1051
@laizy thank you. Everything work. I will close this issue !

[2019-08-22 02:19] #1051 closed, assigned to nobody

[2019-08-26 19:42] deblanco opened #1061 "Some transactions of OEP4 assets doesn't work with a certain amount"
Hello team,

We are having problems performing some transactions with an OEP4 token. We noticed with a certain amount of tokens is happening (happening = the transaction is not performed), and after days of analysis, we didn't find the logic that triggers this error.

The issue is happening in **mainnet** and in **testnet**.

The contracts having this problem are the next:
- Mainnet: 78b98deed62aa

[2019-08-31 16:52] WyattMufson commented on #1061
I can also confirm that this exists - I tested the same contract through [neovmutils](https://github.com/Ryucoin/neovm-utils)

[2019-08-31 16:53] WyattMufson commented on #1061
A link to the most up to date version of the contracts will most likely be needed to make sure it's not a contract level error (the one I was given had a comment in `transfer` that was missing the opening `"""`)

[2019-09-01 01:36] deblanco commented on #1061
Seems to be fixed with the last version of ontology-ts-sdk.
Could someone from the ontio team confirm this?

Thanks

[2019-09-01 09:26] laizy commented on #1061
yes, it has been fixed in the last version of ontology-ts-sdk. please update the Owallet to the last version.

[2019-09-15 08:30] #1061 closed, assigned to nobody

[2019-09-28 05:29] love386 opened #1085 "Export keys"
The version used is v1.6.1-0
The system is ubuntu 16.04
How can I export the private key of the address?

[2019-09-28 14:09] laizy commented on #1085
please ref #844

[2019-10-08 03:36] dmarii opened #1087 "No asset in bookkeeper nodes on local network"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
The most recent version built from source code.
1.7.0 beta

#### Does this issue reproduce with the latest release?
Yes, I also tried using the newest release version

#### What operating system are you using (such as macOS, Linux and Windows)?
macOS

#### What d

[2019-10-08 04:11] laizy commented on #1087
the ONT is initialized in a multi-address of the bookkeepers, the minimal signature required is 	`m := (5*len(bookkeepers) + 6) / 7`.  so if you use 4 nodes, m = 3, you can use `/ontology multisignaddr -m 3 --pubkey pk1,pk2,pk3,pk4` to get the multiaddr.

[2019-10-08 04:11] #1087 closed, assigned to nobody

[2019-10-08 04:55] #994 closed, assigned to lucas7788

[2019-10-08 04:56] #779 closed, assigned to JasonZhouPW

[2019-10-08 04:56] #803 closed, assigned to JasonZhouPW

[2019-10-08 05:11] #1085 closed, assigned to nobody

[2019-10-09 10:42] NashMiao opened #1090 "Get contract state from store failed"
#### What version of ontology are you using (`ontology --version`)?

- dappnode1.ont.io
- dappnode2.ont.io
- dappnode3.ont.io

[code]

#### Does this issue reproduce with the latest release?

Yes.

#### What operating system are you using (such as macOS, Linux and Windows)?

Linux and Windows.

#### What did you do?

[code]

![image](https://user-images.githubusercontent.com/18191964/66473772-85bf

[2019-10-09 11:38] laizy commented on #1090
after some investigation, I found the contract is migrated by transaction `2924e99231dbb8386a48cab7f581af578b3f985349e2df8edacf20bb0a314f0b`

the invoke code is something like:
![image](https://user-images.githubusercontent.com/4203231/66478094-2ebee080-eacc-11e9-8eb9-e7ef0f55b597.png)

[2019-10-09 11:38] #1090 closed, assigned to nobody

[2019-10-09 12:08] NashMiao commented on #1090
Thanks very much, maybe this [link](https://github.com/ontio/ontology/blob/ca9abcf108728d12cccd6c61a898169e6d4edf37/smartcontract/service/neovm/contract.go#L50) is helpful, if others want to know more information.

[2019-10-30 08:28] vae520283995 opened #1118 "Why ont does not use rfc6979 to generate K value when signing"
Why ont does not use rfc6979 to generate K value when signing

[2019-12-24 11:02] #780 closed, assigned to JasonZhouPW

[2019-12-24 11:03] #781 closed, assigned to laizy

[2020-01-11 00:33] monaka opened #1145 "Can't build ontology."
#### What version of ontology are you using (`ontology --version`)?

Can't build the binary. Information about the git repo is here.

[code]

#### Does this issue reproduce with the latest release?

[code]

#### What operating system are you using (such as macOS, Linux and Windows)?

Linux

#### What did you do?

If possible, provide a recipe for reproducing the error. A complete runnable program

[2020-01-11 06:09] Honglei-Cong commented on #1145
Please try `make ontology`

[2020-01-12 04:36] monaka commented on #1145
@Honglei-Cong Yes `make ontology` works.
And the my goal is to run `make docker`. This issue is simplified against my goal.

[2020-02-09 13:53] ghost opened #1148 "Simplify the README"
## Current Status

The README contains too much information

## Expected

the usual things, something like this:

* Description (very compact)
* Install from Binaries (can point to online-manuals)
* Build from Source (basic build, e.g. for ubuntu, then point to manual for more info)
  * Running Tests
  * Install
* Contribution (tiny text, then point to manual / file)
* Developer Resources
* Acknow

[2020-02-13 10:46] ghost opened #1150 "[PROJECT] Process Old Issues"
makes a bad impression:

https://github.com/ontio/ontology/issues?q=is%3Aissue+is%3Aopen+sort%3Acreated-asc

EDIT: always leave a comment when closing issues (if its not obvious, e.g. fix was merged).

[2020-02-13 11:28] #804 closed, assigned to carltraveler

[2020-02-13 11:36] #778 closed, assigned to JasonZhouPW

[2020-02-13 11:40] laizy commented on #1002
close this since we also support go mod now.

[2020-02-13 11:40] #1002 closed, assigned to nobody

[2020-02-13 11:41] ghost commented on #778
@laizy , can you please leave a tiny comment when closing issues, so one know why it was closed? it is not always clear.

[2020-02-13 11:44] laizy commented on #778
@lazaridiscom all releted issues are addressed.

[2020-02-13 14:17] AlverLyu commented on #1118
Deterministic ECDSA is a new standard and may not be supported in some environment. Thus using the original ECDSA can have better compatibility and interoperability.

[2020-02-13 14:21] AlverLyu commented on #1118
Anyway, a signature generated as rfc6979 is also valid in Ontology. There is not difference in validation.

[2020-02-14 05:06] #1118 closed, assigned to nobody

[2020-02-17 15:17] ghost opened #1154 "void"

[2020-02-18 05:36] #1056 closed, assigned to nobody

[2020-02-20 03:57] #1154 closed, assigned to nobody

[2020-02-25 09:11] #1145 closed, assigned to nobody

[2020-03-05 02:56] #1054 closed, assigned to nobody

[2020-03-05 03:01] Honglei-Cong opened #1166 "[FEATURE-REQ]update node public key after registration done"
#### Is your feature request related to a problem? Please describe.

Ontology node owner provides his node public key when registering.
If he wants to change his node public key, he'll have to unregister the old one, and register a new Ontology node currently.
But unregister/register both will take more than one consensus epoch.

#### Describe the solution you would like

Updating node public key,

[2020-03-05 18:45] BisonAl opened #1167 "v1.9.0-beta failing to run on alpine linux"
#### What version of ontology are you using (`ontology --version`)?
v1.9.0-beta, the latest release from https://github.com/ontio/ontology/releases

#### Does this issue reproduce with the latest release?
This issue is with the latest release

#### What operating system are you using (such as macOS, Linux and Windows)?
Alpine Linux, latest release.

#### What did you do?
Tried to run the `v1.9.0-b

[2020-03-06 03:45] laizy commented on #1167
@BisonAl In v1.9.0-beta we add one `c lib` dependency which using `glibc` and enabled CGO. After some searching, Alpine Linux is a lightweight Linux distribution and uses `musl` libc to reduce the system's size. so I think the easiest way to fix this is using other linux image like `debian`, `ubuntu`.  sorry for the inconvenience.

[2020-03-06 13:20] BisonAl commented on #1167
Thanks for the insight @laizy, appreciate your quick response!

We prefer using a lightweight image like alpine for security and reliability purposes; I'll see if there's c dependencies we can install to accomodate `glibc` requirements. If I find a solution to this I'll post it here - perhaps other node operators will run into this as well as they move onto the final `1.9.0` release.

Out of curio

[2020-03-06 14:28] laizy commented on #1167
PR #1133 contains one static lib `libwasmjit_onto_interface.a`, compiled using https://github.com/ontio/ontio-wasmjit.

[2020-03-06 16:04] BisonAl commented on #1167
Spoke with my team about this, we're going to follow your advice and use a `ubuntu` or `debian` base image 👍

Tried going down the `glibc` in `alpine` route, and couldn't find a working solution. The alpine community seems to have been searching for a way around this for a few years now, but no reliable paths forward have stood out so far.

Could be worth making a note in the final `1.9.0` release

[2020-03-07 03:46] laizy commented on #1167
@BisonAl Good to meet you too. And I have updated the release page.

[2020-03-09 19:20] #1167 closed, assigned to nobody

[2020-03-30 15:36] Honglei-Cong opened #1172 "[FEATURE REQ] support domain name in inbound-connection reserve-list"
Ontology node support ingression connection filtering with reserve-list.
But reserve-list only supports IP-address currently.
It will be more convenient if domain-name can be supported.

[2020-03-31 02:54] laizy commented on #1172
@Honglei-Cong this feature is included in #1171

[2020-03-31 02:59] #1172 closed, assigned to nobody

[2020-04-30 10:35] Honglei-Cong opened #1183 "Could Recent-peers file be cleared after reboot 60s?"
https://github.com/ontio/ontology/blob/f710def71a488e81b71c5364327145bb65e29044/p2pserver/protocols/recent_peers/recent_peers.go#L89

suggest RecentPeerElapseLimit << RECENT_TIMEOUT

[2020-05-06 07:25] Honglei-Cong opened #1184 "why sending FindNodeReq of curPair.ID to itself?"
https://github.com/ontio/ontology/blob/f710def71a488e81b71c5364327145bb65e29044/p2pserver/protocols/discovery/discovery.go#L91

should sending FindNodeReq of self.ID to curPair.ID ?

[2020-05-06 07:50] laizy commented on #1184
should be `self.ID`. @rongyi

[2020-05-07 02:55] rongyi commented on #1184
yes, it should be self.id, pr 1185 fix this.

[2020-05-07 10:53] Honglei-Cong opened #1187 "Fix "change log dir""
Keeping default log dir as "./Log"

[2020-05-07 10:58] #1184 closed, assigned to nobody

[2020-05-08 04:36] Honglei-Cong opened #1191 "need support domain name in maskSet"
https://github.com/ontio/ontology/blob/f1b2b581974c3216788d66dde30d7de72f266923/p2pserver/protocols/discovery/discovery.go#L167

[2020-05-08 04:37] Honglei-Cong commented on #1187
#1190

[2020-05-08 06:00] #1187 closed, assigned to lucas7788

[2020-05-09 04:04] lcgogo opened #1192 "getversion has no printout"
Please answer these questions before submitting your issue. Thanks!

curl --data-binary '{"jsonrpc": "2.0", "id": "curltext", "method": "getversion", "params": []}' -H 'content-type:text/plain;'

{"desc":"SUCCESS","error":0,"id":"curltext","jsonrpc":"2.0","result":""}

#### What version of ontology are you using (`ontology --version`)?

#### Does this issue reproduce with the latest release?
1.8.2

[2020-05-09 04:55] laizy commented on #1192
could you run `./ontology --version` and paste the output here? I think you did not  build the `ontology` binary with `make ontology`.

[2020-05-09 05:02] lcgogo commented on #1192
docker exec -it ont-1.9.0 /bin/ontology --version
ontology version

no printout too.

I use docker golang:1.14-buster as builder and run make all instead of make ontology

[2020-05-09 05:14] laizy commented on #1192
@lcgogo can you provide your docker file? the version is set at compile time based on git tag. so you need make sure clone the repo with tags. for example `git clone https://github.com/ontio/ontology.git -b v1.9.0`

[2020-05-09 09:32] Honglei-Cong opened #1196 "cleanup Makefile if Windows platform is not supported any more"

[2020-05-11 04:03] lcgogo commented on #1192
I use the tar.gz from release, but not the git. Maybe the reason.

\# Build image
FROM golang:1.14-buster as builder

ENV COIN_NAME=ont
ARG COIN_VERSION=master

WORKDIR /go/src
RUN go get github.com/Masterminds/glide
RUN wget -O ${COIN_NAME}-${COIN_VERSION}.tar.gz https://github.com/ontio/ontology/archive/v${COIN_VERSION}.tar.gz \
    && tar -zxf ${COIN_NAME}-${COIN_VERSION}.tar.gz \
    && mkdir

[2020-05-18 03:55] Honglei-Cong commented on #1192
aha, ontology version is from git tags.
If your code is not in git, there'll no version info.

[2020-05-18 04:03] Honglei-Cong commented on #1192
@laizy
I think we should update `config.Version` when starting a new release cycle.

[2020-05-21 06:25] laizy commented on #1192
addressed in #1211 .

[2020-05-21 06:25] #1192 closed, assigned to nobody

[2020-06-24 09:53] dylenfu opened #1238 "param reserveOnly for p2pserver invalid sometime"
suppose:
S1,S2, S3, S4 as seed node,
G1, G2, G3, G4 as  gov node,
N1, N2 as norm node

start all nodes and waiting seconds...

condition1:
1.reserveOnly = true, rsv = [N1]
3.S1 neighbors =[N1]

condition2:
1.reserveOnly = true, rsv = [N1]
2.G1 neighbors = [S2, S3, S4, G2, G3, G4, N1], reserverOnly invalid

[2020-06-24 10:46] laizy commented on #1238
why do you think this is invalid?

[2020-07-02 06:27] zenghq3 opened #1245 "Does the mainnet need to be upgraded to 2.0 now?"
[https://github.com/ontio/ontology/releases/tag/v2.0.0](url) says All nodes need to be upgraded,but it currently running on testnet.

[2020-07-02 06:50] laizy commented on #1245
v2.0.0 is still in pre-release state. All nodes running on testnet need to be upgraded now.  and the mainnet is still in v1.10.0 version, and will start upgrade soon, when all consensus nodes in mainnet are upgraded, we will change the release note.

[2020-07-02 06:52] zenghq3 commented on #1245
thx

[2020-07-02 06:52] #1245 closed, assigned to nobody

[2020-07-02 20:07] Honglei-Cong opened #1246 "report error when there's malformed arguments in command line"
att

[2020-07-03 05:53] Honglei-Cong opened #1247 "too many `peer update` log, combine them?"

[2020-07-06 09:36] grindydev opened #1252 "Can not run command 'make all' in Windows"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
Latest

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
Windows

#### What did you do?
I clone project from github and run command 'make all'
If possible, provide a recipe f

[2020-07-06 10:18] laizy commented on #1252
we use cgo in ontology, and golang's cgo feature is not well supported for windows. you can use WSL instead.

[2020-07-07 08:16] Honglei-Cong commented on #1247
#1255

[2020-07-07 08:17] #1252 closed, assigned to nobody

[2020-07-09 09:56] grindydev opened #1256 "Import ontology-go-sdk package fail in ontology"
#### What version of ontology are you using (`ontology --version`)?
Latest

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
I trying to import package ontology-go-sdk in my test project

#### What did you expect to see?
Import successful

#### What did you see instead?
# github.com/ontio/ontology/cmd/utils
../github.com/ontio/ontology/cmd/u

[2020-07-09 10:23] laizy commented on #1256
do you use go module? we use package urfave/cli v1.22.1, GetName is defined at:
https://github.com/urfave/cli/blob/v1.22.1/flag.go#L74
 you may misused an newer version .

[2020-07-09 10:33] #1247 closed, assigned to nobody

[2020-07-10 10:45] grindydev commented on #1256
problem solved

[2020-07-10 10:45] #1256 closed, assigned to nobody

[2020-07-13 01:53] Honglei-Cong opened #1260 "unexpected bootup time"
just to check ontology version, takes 16 seconds.

$ time ./ontology --version
ontology version v2.0.0

real	0m16.126s   <---------
user	0m10.841s
sys	0m7.282s

[2020-07-13 02:53] laizy commented on #1260
I have compared v2.0.0 with v1.6.0. there is not much difference after multiple execution. only the first startup took longer time.

[2020-07-13 03:25] Honglei-Cong commented on #1260
not the first startup, it's always now.

[2020-07-13 03:38] laizy commented on #1260
output on wsl:
[code]
output on linux:
[code]

[2020-07-13 08:12] Honglei-Cong commented on #1260
[code]

On Mon, Jul 13, 2020 at 11:38 AM laizy <notifications@github.com> wrote:

[2020-08-28 03:28] rongyi opened #1276 "staticcheck show us some useful warnings"
using [staticcheck](https://staticcheck.io/) to lint ontology code, beside the naming convention warnings, there are some useful hint for us, here are some sample output:

core/store/ledgerstore/ledger_store.go:388:2: redundant return statement (S1023)
core/store/ledgerstore/ledger_store.go:860:29: func (*LedgerStoreImp).tryGetSavingBlockLock is unused (U1000)
core/store/ledgerstore/ledger_store.g

[2020-08-28 03:58] laizy commented on #1276
yes, we should fix this.

[2020-08-28 05:50] rongyi commented on #1276
OK, I'll send some PR for this issue

[2020-09-05 06:17] laizy commented on #1276
fixed in #1277

[2020-09-05 06:17] #1276 closed, assigned to nobody

[2020-09-23 08:15] heshuchao opened #1281 "How can I query an address' all token balances via RPC API?"
the response of RPC-API-"getbalance"  only contains the balance of ont and ong.

what if I need response like below

`{"code":0,"msg":"SUCCESS","result":[{"balance":"580667.517022225","asset_name":"ong","asset_type":"native","contract_hash":"0200000000000000000000000000000000000000"},{"balance":"0","asset_name":"waitboundong","asset_type":"native","contract_hash":"020000000000000000000000000000000

[2020-09-28 02:44] wo4zhuzi opened #1282 "Scanner interrupt error"
Cannot continue when running to 1293991 blocks

error message:

[code]

[2020-09-28 03:03] lucas7788 commented on #1282
@wo4zhuzi   Are you invoking getContractJson method?  what is your contractAddress?  do you have deploy the contract?

[2020-09-28 03:10] wo4zhuzi commented on #1282
I ran "ontology explorer"

[2020-09-28 03:50] lucas7788 commented on #1282
@wo4zhuzi  Can you describe in detail what you did？ Where did you see this command?

[2020-09-30 09:38] #1282 closed, assigned to nobody

[2020-10-09 09:29] laizy commented on #1281
https://github.com/ontio/ontology/pull/1279 this pr has added a jsonrpc api to query oep4 token balance.

[2020-12-16 11:30] jaydp17 opened #1296 "Error building for ARM64"
#### What version of ontology are you using (`ontology --version`)?
v2.1.0

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux ARM64

#### What did you do?

[code]

#### What did you expect to see?
Binary for Linux ARM64

#### What did you see instead?
The following error
[code]

#### Additional context

I

[2021-01-21 09:28] laizy commented on #1296
sorry for late reply, currently we only support x86_64.

[2021-03-24 06:02] zhangsj opened #1301 "block stop at 11703054,how fix"
block stop at 11703054,how fix

2021/03/24 06:00:17.951082 [ERROR] GID 3575, Ledger AddBlock BlockHeight:11703055 BlockHash:779640eb7ce52f8dd16a13e14cc3619a93fcc60b1a47aeb207c1f4a0a9e27760 error:saveBlock error state merkle root mismatch. expected: 8c9a2283025da7dea44f8adf1d7753a0233bd4758fcda1cdcf564649aa044200, got: ea51d4b7f7a188a797745ea7c6ba97e09aacbf2bf93b804c45c51b2b438683cb
2021/03/24 06:0

[2021-03-24 06:25] laizy commented on #1301
please upgrade ontology to new version [v2.2.0](https://github.com/ontio/ontology/releases/tag/v2.2.0).

[2021-03-24 06:25] #1301 closed, assigned to nobody

[2021-03-26 09:36] limengyang-boy opened #1302 "The block update stops at 11,703,054 and is no longer updated. The version has been upgraded to 2.2.0"
![image](https://user-images.githubusercontent.com/75056837/112612353-cac3df80-8e59-11eb-8413-325e0906941a.png)

[2021-03-26 09:52] limengyang-boy commented on #1301
Has the problem been solved?

[2021-03-26 10:22] laizy commented on #1302
because you are using a reserved file, and reject to connect with other peers. you need update your peers.rsv file, or disable it.

you can try to just use:
[code]

[2021-03-26 11:29] #1302 closed, assigned to nobody

[2021-05-11 15:54] MaxxGit opened #1307 "P2P Error"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?
ontology version v2.1.1-alpha-13-g7c67e8b

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_I

[2021-05-12 04:44] laizy commented on #1307
This is OK, since network errors are inevitable. For example,：
1. the connection between two nodes is unstable;
2. the remote node's connections is full;
3. the remote node has set reserved peers, which limit the node's  IP address connected to it.

[2021-05-12 04:44] #1307 closed, assigned to nobody

[2021-05-12 07:58] MaxxGit commented on #1307
Thanks Laizy

[2021-05-19 08:22] limengyang-boy opened #1309 "After updating V2.2.0, the service does not update the block"
Node configuration：
![image](https://user-images.githubusercontent.com/75056837/118776967-268b7180-b8bb-11eb-8654-407c26421d89.png)
Node Log：
![image](https://user-images.githubusercontent.com/75056837/118779890-15902f80-b8be-11eb-92ad-97b4b18b8d0c.png)
Peer. SRV has been turned off. It seems that the peer cannot be retrieved

[2021-05-19 08:24] #1309 closed, assigned to nobody

[2021-06-15 07:53] hzccc opened #1328 "go build error"
../go_path/pkg/mod/github.com/ontio/ontology@v1.10.0/smartcontract/service/wasmvm/utils.go:113:11: undefined: WasmjitValidate
../go_path/pkg/mod/github.com/ontio/ontology@v1.10.0/smartcontract/service/wasmvm/wasm_service.go:153:17: undefined: invokeJit

os:ubuntu20.04
go versoin: 1.16.4

[2021-06-15 08:23] #1328 closed, assigned to nobody

[2021-08-10 08:33] debasish22 opened #1362 "ONT genesis Address"
I have got an address where at Block 0 it shows amount is being transferred but from where this address got values that it was able to transfer. Like other blockchain does Ont have some genesis address concept

if the ONT blockchain has some genesis address which might have some balance , can it be mentioned in a genesis file with the balance amount as this will be helpful while performing the aud

[2021-08-10 09:24] laizy commented on #1362
Address `AFmseVrdL9f9oyCzZefL9tG6UbvhPbdYzM` is the base58 representation of empty address(0x0000000000000000000000000000000000000000).

[2021-08-10 12:59] sawyerru opened #1363 "Address AFmseVrdL9f9oyCzZefL9tG6UbviEH9ugK returns 503 api server error"
I'm using the API to interaction and with information from the nodes. When I hit the transactions by time endpoint for the above address I often get 503 Service Unavailable issues: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.

It's clear from the UI that this account runs about 1-3k transactions/day so this is a significant amoun

[2021-08-10 12:59] sawyerru opened #1364 "Address AFmseVrdL9f9oyCzZefL9tG6UbviEH9ugK returns 503 API server error"
I'm using the API to interaction and with information from the nodes. When I hit the transactions by time endpoint for the above address I often get 503 Service Unavailable issues: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.

It's clear from the UI that this account runs about 1-3k transactions/day so this is a significant amoun

[2021-08-10 13:27] #1364 closed, assigned to nobody

[2021-08-10 13:27] sawyerru commented on #1364
Duplicate Issue

[2021-08-10 14:56] debasish22 commented on #1362
Hello @laizy . I am not sure of an empty address. Can you please elaborate and how many of these empty addresses we have .

And how do we get the initial balance of these addresses, because in explorer it directly shows the amount is debited from this address but there is no credit transaction before that.

[2021-08-11 03:59] rongyi commented on #1363
thank you for pointing out, we'll check the config and give you the response asap

[2021-08-12 09:41] rongyi commented on #1363
we've searched our backend log didn't find any 503 error log about your request, our server's default timeout time is 60 seconds, pls set the client timeout accordingly.

[2021-08-12 14:45] sawyerru commented on #1363
Thanks rongyi for checking. I'll update the client timeout to handle that 60 second limit. Closing the issue. Thanks!

[2021-08-12 14:45] #1363 closed, assigned to nobody

[2021-08-13 04:14] laizy commented on #1362
this is the only one empty address. Actually, this is a token mint event, and emitted as a transfer event from empty address.

[2021-08-13 10:32] MaxxGit opened #1365 "Network Fee Incentive for the month of July not paid to non-top-49 candidate nodes"
Hi, my “Colosseum” node did not receive the Network Fee Incentive for the month of July while the top 49 nodes received both the monthly reward and the foundation bonus.

This is the link to my node: https://node.ont.io/detail/02798509ab45d6568c6ac60cfe8c832fae88513760c5362c05337f0bc3585b4a51/AG7y887MSLxrcTKpvosRUnkptgxgGMZ7p6/balance. As you can see in the last "transfer" tab, between transaction

[2021-08-13 11:21] OntologyTech commented on #1365
The monthly Ontology Foundation bonus will be shared amongst only the top 49 nodes and distributed manually by the Ontology Foundation.  The Ontology Foundation issued this incentive for July on 10 August.
Network fee incentive and Released ONG incentive will be shared amongst all 343 Triones nodes.  You should use OWallet to claim this part by yourself.

[2021-08-13 14:25] #1365 closed, assigned to nobody

[2021-08-16 11:52] gitloverr opened #1366 "how can I get the standart node sync status?"
hi everyone,

I would like to get the my standart node sync status over rpc api or cli... I couldn't see any method in ontology document.

how can I do this?

thank you

[2021-08-17 03:18] lucas7788 commented on #1366
this is the ontology cli doc,  https://github.com/ontio/ontology/blob/master/docs/specifications/cli_user_guide.md

[2021-08-17 07:54] laizy commented on #1366
@gitloverr you can get the current synced block number by [get_blk_height](https://github.com/ontio/ontology/blob/master/docs/specifications/restful_api.md#5-get_blk_height)

[2021-08-17 14:22] gitloverr commented on #1366
no I would like to get only synced or not information for node. @lucas7788 ,  the document isn't include this.

[2021-08-17 15:43] laizy commented on #1366
@gitloverr you can use `/api/v1/node/syncstatus` restful api for this. it will return the current synced block height and the max block height of remote peers.

[2021-08-19 07:25] #1366 closed, assigned to nobody

[2021-08-25 08:25] gitloverr opened #1368 "socket connection closing after a while"
hi everyone,

I'm connecting the my node over websocket port via **subscribe method** and listening ontology transactions. but my connection closing after a while...

**can I set the socket port connection count as** **unlimited**? I see -**-max-conn-in-bound-single-ip**  parameter in your api document. I set it 99999999999999.  but can I set as direct unlimited? If yes, how?

thank you

[2021-08-25 08:37] laizy commented on #1368
you should send some requests or heartbeat message to the remote peer regularly to avoid session timeout, currently set to 5 minutes.

[2021-08-26 10:56] smallyunet commented on #1362
Is your problem-related https://github.com/ontio/ontology/issues/1087 ? You can use your asset under multi-address.

[2021-11-26 16:33] vae520283995 opened #1381 "Polaris network cannot be synchronized stuck in block 16206728"
[code]

[2021-11-29 03:25] laizy commented on #1381
currently, the running version of Polaris network is v2.3.0, mainnet version is v2.2.0.

[2021-11-29 03:28] vae520283995 commented on #1381
@laizy Okay, thanks for your answer, by the way, what is the correct path for this api https://docs.ont.io/developer-tools/api/http-api/restful#get_gasprice

[2021-11-29 11:28] laizy commented on #1381
It should be `/api/v1/gasprice`, we will fix it soon.

[2021-11-29 11:43] vae520283995 commented on #1381
okay

[2021-11-29 11:43] #1381 closed, assigned to nobody

[2022-03-02 04:12] vae520283995 opened #1392 "Why there are two different versions of ontology, v2.3.5 and v1.14.2, which version should I use?"
@laizy please help

[2022-03-02 06:22] laizy commented on #1392
use v2.3.5 if you just want compile and run ontology. v1.14.2 is used as a lib by other projects like go sdk , [ontology-rosetta](https://github.com/ontio/ontology-rosetta)

[2022-03-02 06:34] vae520283995 commented on #1392
ok, thank you

[2022-03-02 06:34] #1392 closed, assigned to nobody

[2022-03-07 02:38] smallyunet opened #1394 "Compile failure on Mac m1 chip"
[code]

Still not supporting mac m1 now?  Hava any plan in the future?

[2022-03-07 13:38] ms-Almazid opened #1395 "amshaail@yahoo.com"
Please answer these questions before submitting your issue. Thanks!

#### What version of ontology are you using (`ontology --version`)?

#### Does this issue reproduce with the latest release?

#### What operating system are you using (such as macOS, Linux and Windows)?

#### What did you do?

If possible, provide a recipe for reproducing the error. A complete runnable program is good. Attach the

[2022-03-21 06:56] vae520283995 opened #1400 "v2.3.6, All nodes need upgrade"
When exactly is the upgrade?
@laizy please look at this

[2022-03-21 11:37] #1395 closed, assigned to nobody

[2022-03-22 00:35] rongyi commented on #1394
Sorry, ontology does not support m1 currently, but there is a work around for this. You can install a emulator utm and then install a amd64 OS. you can build ontology in this OS.

[2022-03-22 01:52] #1394 closed, assigned to nobody

[2022-03-24 12:41] laizy commented on #1400
Sorry for late reply, v2.3.6 is a pre-release to hot fix a corner case. please upgrade to v2.3.7.

[2022-03-25 07:31] vae520283995 commented on #1400
So when will you upgrade to v2.3.7?

[2022-03-25 08:23] laizy commented on #1400
@vae520283995 , we already upgraded to v2.3.7, see the release note. you can also subscribe our marketing twitter: https://twitter.com/OntologyNetwork/status/1507235395808817152

[2022-03-25 08:28] vae520283995 commented on #1400
okay, thank you

[2022-03-25 08:28] #1400 closed, assigned to nobody

[2022-04-06 02:41] zhoushuntong opened #1402 "ontology can support Spec256k1 ?"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Example: I'm facing an issue when [...]

#### Describe the solution you would like
A clear and concise description of what you want to happen.

#### Describe alternatives you have considered
A clear and concise description of any alternative solutions or features you have con

[2022-04-06 06:58] #1402 closed, assigned to nobody

[2022-04-19 03:33] #1368 closed, assigned to nobody

[2022-06-13 19:20] juliajang opened #1410 "Ontology Testnet not syncing past block 16613129"
#### What version of ontology are you using (`ontology --version`)?
`v2.3.7`

#### Does this issue reproduce with the latest release?
Yes

#### What operating system are you using (such as macOS, Linux and Windows)?
Linux

#### What did you do?
Started up a `testnet` validator that was syncing but stopped at block `16613129`.

#### What did you expect to see?
Expected to the validator continue syn

[2022-06-14 07:53] laizy commented on #1410
thanks for your report, can you try use v2.4.0-alpha?

[2022-06-14 09:17] laizy commented on #1410
@juliajang we use v2.3.7 to sync blocks from 16611150 but can not reproduce, maybe your node's database is corrupted.
Logs:
[code]

[2022-07-19 16:27] juliajang commented on #1410
Hi again, so I've restarted the validator several times from `0` and still get this issue 😢

[2022-11-18 02:59] sailaoda opened #1413 "go install error"
# github.com/ontio/ontology/smartcontract/service/wasmvm
smartcontract\service\wasmvm\wasmjit_runtime.go:132:104: cannot use _Ctype_ulong(20) (constant 20 of type _Ctype_ulong) as type _Ctype_ulonglong in variable declaration
smartcontract\service\wasmvm\wasmjit_runtime.go:201:106: cannot use _Ctype_ulong(len(itemWrite)) (value of type _Ctype_ulong) as type _Ctype_ulonglong in variable declaration

[2022-11-21 16:45] laizy commented on #1413
please use WSL on windows.

[2022-11-22 02:36] sailaoda commented on #1413
thank you very much!

[2022-11-22 02:36] #1413 closed, assigned to nobody